/*************************************************
**************************************************

Website Name: Aaron Cheng's Portfolio
Website URL: chengfolio.com
Website Author: Aaron Cheng
Author URL: chengfolio.com
Copyright 2015. All Rights Reserved.

Color Guide
***************

F6F6F6 - Light Gray(background color)
999 - Gray(Default text)
3E3E3E - Dark Gray(Highlight text)
262829 - Dark Gray(work header background)

*************************************************/

/************************************************
*************************************************
0. CSS Reset -------------------- All Files
1. General Styles ---------------------- All Files
2. Banner Styles -------------------- All Files
3. Body Styles ---------------------- All Files

*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
body  {
  font-family: "Open Sans", Microsoft YaHei, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: #999;
  background-color: #F6F6F6;
}

p {
  margin: 0;
}

ul,ol,li{
	list-style-type: none;
	padding:0;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Open Sans", Microsoft YaHei, Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 18px;
	margin: 0;
}

a{
	color: #999;
}

a:hover, a:focus{
	color: #000;
	text-decoration: none;
}

/*----------------------------------------------
------------------------------------------------
1. Text Styles
------------------------------------------------
----------------------------------------------*/
.txt--highlight{
	color: #0093CD;
}

.txt--bold{
	font-weight: 700;
}

.txt--description{
	font-size: 14px;
	font-weight: 400;
}

.txt--bullet_list{
	list-style-type: disc;
	list-style-position:outside;
}

.txt--bullet_list > li{
	list-style-type: disc;
	list-style-position:outside;
}

.txt--xl{
	font-size: 24px;
	line-height: 36px;
}

.txt--lg{
	font-size: 20px;
	line-height: 36px;
}

.txt--sm{
	font-size: 12px;
	line-height: 18px;
}

.txt--title{
	font-size: 32px;
	line-height: 48px;
	font-weight: 300;
	color: #3E3E3E;
}

.txt--subtitle{
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	color: #3E3E3E;
}

.txt--primary_on_dark{
	color: #FFF;
}

.txt--primary_on_light{
	color: #3E3E3E;
}
/*----------------------------------------------
------------------------------------------------
2. Image Styles
------------------------------------------------
----------------------------------------------*/
.img--full_width{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/*----------------------------------------------
------------------------------------------------
3. Shape Styles
------------------------------------------------
----------------------------------------------*/
.box{
	display: block;
}

.box--primary{
	background-color: #000;
}

.box--secondary{
	background-color: #F6F6F6;
}

.box--under_hero{
	position: relative;
	top: -60px;
	margin-bottom: -40px;
}

.box--full_width{
	width: 100%;
}

.divider--horizontal{
	border-bottom: 1px solid #808a97;
	border-left: 26px transparent solid;
	border-right: 26px transparent solid;
	border-top-width: 0;
	width: 100%;
}

/*----------------------------------------------
------------------------------------------------
4. Spacing Styles
------------------------------------------------
----------------------------------------------*/
.margin--section_top{
	margin-top: 100px;
}

.margin--section_bottom{
	margin-bottom: 100px;
}

.margin--element_top_xl{
	margin-top: 120px;
}

.margin--element_top_lg{
	margin-top: 100px;
}

.margin--element_top{
	margin-top: 70px;
}

.margin--element_top_sm{
	margin-top: 40px;
}

.margin--element_top_xs{
	margin-top: 20px;
}

.margin--element_top_xxs{
	margin-top: 10px;
}

.margin--element_bottom{
	margin-bottom: 70px;
}

.margin--element_bottom_sm{
	margin-bottom: 40px;
}

.margin--element_bottom_xs{
	margin-bottom: 20px;
}

.padding--element_lg{
	padding-top: 120px;
	padding-bottom: 120px;
}

.padding--element_md{
	padding-top: 80px;
	padding-bottom: 80px;
}

.padding--element_sm{
	padding-top: 40px;
	padding-bottom: 40px;
}

.padding--element_xs{
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding--txt_box{
	padding: 40px;
}

.shift--up_xl{
	position: relative;
	top: -280px;
}

.shift--up_lg{
	position: relative;
	top: -120px;
}

.shift--up{
	position: relative;
	top: -80px;
}

.move--up_xl{
	margin-top: -180px;
}

.move--up_lg{
	margin-top: -120px;
}

.move--up{
	margin-top: -70px;
}
/*----------------------------------------------
------------------------------------------------
5. Button Styles
------------------------------------------------
----------------------------------------------*/
.btn{
	border-width: 0;
	display: block;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
}

.btn--primary{
	width: 100%;
	color: #fff;
	background-color: #000;
	height: 30px;
	line-height: 30px;
}

.btn--primary-white{
	background-color: #fff;
	color:#000;
}

/*.btn__menu_expand{
	margin-top: 0px;
}*/

.btn:hover, .btn:focus{
	color:#fff;
	opacity: 0.8;
}

.btn--lg{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}

/*----------------------------------------------
------------------------------------------------
6. Nav/Footer Styles
------------------------------------------------
----------------------------------------------*/
nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;	
	padding-top: 15px;
	padding-bottom: 5px;
	z-index: 100;
	opacity: 0.95;
	background-color: #F6F6F6;
}

.nav__txt{
	font-size: 14px;
	line-height: 14px;
	margin-left: 50px;
	font-weight: 400;
	color: #999;
}

.nav__txt--mobile{
	margin-top: 10px;
}

.nav__menu--mobile{
	display: none;
}

.nav__bottom-line{
	position: relative;
	left: -20px;
	margin-top: 5px;
	background-color: #999;
	height: 2px;
	width: 6000px;
	opacity: 0.05;
}

/*.nav__bottom-line{
	position: relative;
	top: 10px;
	left: -20px;

	width: 6000px;
	background-image: url(../img/global/nav-shadow.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: transparent;
	background-size: 100% 50%;
	height: 10px;
}*/

.nav__logo{
	margin-bottom: 12px;
}

.footer__copyright{
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
}

.footer__menu--margin_left{
	margin-left: 40px;
}

footer{

	background-color: #F0F0F0;
}

/*----------------------------------------------
------------------------------------------------
7. work Styles
------------------------------------------------
----------------------------------------------*/
.work__header__wrapper{
/*	background-color: #262829;*/
}

.work__background--differentiator{
	background-color: #FFF;
}
/*----------------------------------------------
------------------------------------------------
8. Product Styles
------------------------------------------------
----------------------------------------------*/
.product__img_hero{
	height: 450px;
	background: url(../img/product/product_img_hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000;
}
/*----------------------------------------------
------------------------------------------------
9. Services Styles
------------------------------------------------
----------------------------------------------*/
.services__img_hero{
	height: 450px;
	background: url(../img/services/services_img_hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000;
}

/*----------------------------------------------
------------------------------------------------
10. Technology Styles
------------------------------------------------
----------------------------------------------*/
.technology__img_hero{
	height: 450px;
	background: url(../img/technology/technology_img_hero.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000;
}


/*----------------------------------------------
------------------------------------------------
11. Contact Styles
------------------------------------------------
----------------------------------------------*/
.contact__img_hero{
	height: 450px;
	background: url(../img/contact/img_office_dinning.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000;
}

.contact__img_bottom{
	height: 450px;
	background: url(../img/contact/img_map_office.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000;
}


/*----------------------------------------------
------------------------------------------------
12. About Styles
------------------------------------------------
----------------------------------------------*/
.about__img_hero{
	height: 450px;
	background: url(../img/about/about_img_hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000;
}

/*----------------------------------------------
------------------------------------------------
13. Career Styles
------------------------------------------------
----------------------------------------------*/
.career__img_hero{
	height: 450px;
	background: url(../img/career/career_img_hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000;
}

