/*************************************************
**************************************************

Website Name: Google Map Customizer
Website URL: chengfolio.com
Website Author: Aaron Cheng
Author URL: chengfolio.com
Copyright 2015. All Rights Reserved.

Color Guide
***************

F6F6F6 - Light Gray(background color)
DBDBDB - medium gray
999 - Gray(Default text)
3E3E3E - Dark Gray(Highlight text)
F0F0F0 - Footer background color

*************************************************/

/************************************************
*************************************************
0. CSS Reset -------------------- All Files
1. General Styles ---------------------- All Files
2. Banner Styles -------------------- All Files
3. Body Styles ---------------------- All Files

*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/


/* google map Customizer */
.googlemap{
width:1920px;
height:1080px;
margin-top:61px;
display:none;
}

.excontent{
width:1920px;
height:1080px;
margin-top:61px;
}

.customizer-header {
z-index: 101;
height: 60px;
position: fixed;
right: 0;
left: 0;
top: 0px;
background-color:#000;
line-height: 60px;
}

.customizer-header .background{
height: 120px;
position: fixed;
right: 0;
left: 0;
top: 0px;
background-color:#000;
}

.customizer-header .background-mobile{
height: 180px;
position: fixed;
right: 0;
left: 0;
top: 0px;
background-color:#000;
}

.customizer-header h2 {
font-size:18px;
color:#fff;
margin:10px auto -10px 0;
}

.customizer-header p {
font-size:14px;
margin:-20px auto -10px 0;
}

.customizer-header input{
height:30px;
width:100%;
padding-left:15px;
line-height:30px;
border-width:0;
}

.customizer-header .helpbtn {
margin-top:15px;
height:45px;
cursor:pointer;
}

.customizer-header .visible-xs .helpbtn {
position:relative;
top:-10px;
}

#googlebtn , #applylinkbtn{
padding-left:0px;
background-color:#00b7eb;
border-width:0;
color:#fff;
}

.customlink{
display:none;
}

.help-circle{
background-color: #fff;
width: 14px;
height: 14px;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-khtml-border-radius: 50%;
border-radius: 50%;
font-size:12px;
color:#000;
text-align:center;
margin: 23px auto auto 5px;
line-height: 15px;
font-weight:700;
cursor:pointer;
}

.googlemapmsg{
z-index: 100;
position: fixed;
right: 0;
left: 0;
top: 0px;
}

.googlemapmsg a{
cursor:pointer;
color:#00b7eb;
}


.googlemapmsgcontents{
position:relative;
top:80px;
line-height: 50px;
background-color:#000;
color:#fff;
}

.googlemapmsgcontents p{
position:relative;
top:5px;
}

.googlemapmsgcontents .help-btn.visible-sm{
margin-top:10px;
}

.googlemapmsg .closeicon{
margin-top:20px;
}

.googlemaptopper, .googlemsgtopper{
height:60px;
}

.googlemaptopper-mobile{
height:120px;
}

.setting{
display:none;
}

.setting p a{
color:#00b7eb;
font-weight:700;
}

.setting .description{
text-align:left;
}

.setting .description span{
font-size:12px;
font-style:italic;
line-height:14px !important; 
}

.setting .steps{
margin-top:120px;
}

.setting .steps p{
margin-bottom:60px;
}

.number-circle{
background-color: #000;
width: 35px;
height: 35px;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-khtml-border-radius: 50%;
border-radius: 50%;
font-size:24px;
color:#fff;
text-align:center;
}

.closeicon{
border-style:solid;
border-width:2px;
border-color:#00b7eb;
background-color: #fff;
width: 24px;
height: 24px;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-khtml-border-radius: 50%;
border-radius: 50%;
font-size:14px;
color:#000;
text-align:center;
font-weight:700;
line-height:20px;
cursor:pointer;
}

.settingmenu{
display:none;
}

.settingmenu ul{
background-color:#000;
padding-left:0;
}

.settingmenu span {
display: table;
height:10px;
}

.settingmenu ul li {
line-height:40px;
cursor:pointer;
}

.settingmenu ul li:first-child {
line-height:40px;
color:#fff;
}

.settingmenu .divider{
height:2px;
background-color:#fff;
width:100%;
margin-bottom:10px;
}

/* 404*/
.error h1{
margin-top:100px;
font-size:72px;
color:#000;
}

.error h2{
font-size:18px;
color:#000;
}

.error a{
font-size:18px;
color:#fff;
position:relative;
top:5px;
}

.error a:hover{
color:#808a97;
}

.error .btn{
background-color:#000;
font-size:18px;
line-height:36px;
margin-top:100px;
}

