/*************************************************
**************************************************

Website Name: Aaron Cheng's Portfolio
Website URL: chengfolio.com
Website Author: Aaron Cheng
Author URL: chengfolio.com
Copyright 2015. All Rights Reserved.

Color Guide
***************

F6F6F6 - Light Gray(background color)
DBDBDB - medium gray
999 - Gray(Default text)
3E3E3E - Dark Gray(Highlight text)
F0F0F0 - Footer background color

*************************************************/

/************************************************
*************************************************
0. CSS Reset -------------------- All Files
1. General Styles ---------------------- All Files
2. Banner Styles -------------------- All Files
3. Body Styles ---------------------- All Files

*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
body  {
  font-family: "Open Sans", Microsoft YaHei, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  color: #999;
  background-color: #F6F6F6;
}

p {
  margin: 0;
}

ul,ol,li{
	list-style-type: none;
	padding:0;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Open Sans", Microsoft YaHei, Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 18px;
	margin: 0;
}

a{
	color: #999;
}

a:hover, a:focus{
	color: #000;
	text-decoration: none;
}

q{
	font-style: italic;
}

/*----------------------------------------------
------------------------------------------------
1. Text Styles
------------------------------------------------
----------------------------------------------*/
.txt--highlight{
	color: #0093CD;
}

.txt__color--regular{
	color: #999;
}

.txt--regular{
	font-weight: 400;
}

.txt--bold{
	font-weight: 700;
}

.txt--description{
	font-size: 14px;
	font-weight: 400;
}

.txt--bullet_list{
	list-style-type: disc;
	list-style-position:outside;
}

.txt--bullet_list > li{
	list-style-type: disc;
	list-style-position:outside;
}

.txt--ordered_list{
	list-style-type: decimal;
	list-style-position:outside;
}

.txt--ordered_list > li{
	list-style-type: decimal;
	list-style-position:outside;
}

.txt--xxl{
	font-size: 32px;
	line-height: 48px;
}

.txt--xl{
	font-size: 24px;
	line-height: 36px;
}

.txt--lg{
	font-size: 20px;
	line-height: 36px;
}

.txt--md{
	font-size: 16px;
	line-height: 1.8;
}

.txt--default{
	font-size: 14px;
	line-height: 20px;
}

.txt--sm{
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.txt--title{
	font-size: 32px;
	line-height: 48px;
	font-weight: 300;
	color: #3E3E3E;
}

.txt--subtitle{
	font-size: 24px;
	line-height: 32px;
	font-weight: 400;
	color: #3E3E3E;
}

.txt--img_caption{
	font-style: italic;
	text-align: center;
}

/*.txt--article{
	font-size: 18px;
	color: #3E3E3E;
	line-height: 1.8;
}*/

.txt--404{
	font-size: 72px;
	color: #3E3E3E;	
}

article p{
	font-size: 18px;
	color: #3E3E3E;
	line-height: 1.8;
}

.txt--primary_on_dark{
	color: #FFF;
}

.txt--primary_on_light{
	color: #3E3E3E;
}

/*.txt--blog_highlight{
	color: #00b7eb;
}*/

article a{
	color: #00b7eb;	
	font-weight: 400;
}


/*----------------------------------------------
------------------------------------------------
2. Image Styles
------------------------------------------------
----------------------------------------------*/
.img--full_width{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
/*----------------------------------------------
------------------------------------------------
3. Shape Styles
------------------------------------------------
----------------------------------------------*/
.box{
	display: block;
}

.box--primary{
	background-color: #000;
}

.box--secondary{
	background-color: #F6F6F6;
}

.box--under_hero{
	position: relative;
	top: -60px;
	margin-bottom: -40px;
}

.box--full_width{
	width: 100%;
}

.box--no_padding{
	padding-right: 0;
	padding-left: 0;
}

.divider--horizontal{
	border-bottom: 1px solid #F0F0F0;
	border-left: 26px transparent solid;
	border-right: 26px transparent solid;
	border-top-width: 0;
	width: 100%;
}

.divider--horizontal--even{
	height: 1px;
	background-color: #F6F6F6;
	width: 100%;
}

.img__wrapper{
	box-shadow: 0 1px 6px rgba(0,0,0,.1);
/*	border-width: 1px;
	border-style: solid;
	border-color: #F6F6F6;*/
}

.web-view__browser_head{
	background-color: #F8F8F8;	
}

.circle--number{
	background-color: #3E3E3E;
	width: 35px;
	height: 35px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-khtml-border-radius: 50%;
	border-radius: 50%;
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 35px;
}
/*----------------------------------------------
------------------------------------------------
4. Spacing Styles
------------------------------------------------
----------------------------------------------*/
.margin--section_top{
	margin-top: 100px;
}

.margin--section_bottom{
	margin-bottom: 100px;
}

.margin--element_top_xl{
	margin-top: 120px;
}

.margin--element_top_lg{
	margin-top: 100px;
}

.margin--element_top{
	margin-top: 70px;
}

.margin--element_top_sm{
	margin-top: 40px;
}

.margin--element_top_xs{
	margin-top: 20px;
}

.margin--element_top_xxs{
	margin-top: 10px;
}

.margin--element_bottom{
	margin-bottom: 70px;
}

.margin--element_bottom_sm{
	margin-bottom: 40px;
}

.margin--element_bottom_xs{
	margin-bottom: 20px;
}

.margin--element_left{
	margin-left: 70px;
}

.padding--element_lg{
	padding-top: 120px;
	padding-bottom: 120px;
}

.padding--element_top_lg{
	padding-top: 120px;	
}

.padding--element_top{
	padding-top: 70px;	
}


.padding--element_bottom_lg{
	padding-bottom: 120px;
}

.padding--element_md{
	padding-top: 80px;
	padding-bottom: 80px;
}

.padding--element_sm{
	padding-top: 40px;
	padding-bottom: 40px;
}

.padding--input-box{
	padding-left: 10px;
	padding-right: 10px;
}

.padding--element_xs{
	padding-top: 20px;
	padding-bottom: 20px;
}

.padding--txt_box{
	padding: 40px;
}

.shift--up_xl{
	position: relative;
	top: -280px;
}

.shift--up_lg{
	position: relative;
	top: -120px;
}

.shift--up{
	position: relative;
	top: -80px;
}

.move--up_xl{
	margin-top: -180px;
}

.move--up_lg{
	margin-top: -120px;
}

.move--up{
	margin-top: -70px;
}
/*----------------------------------------------
------------------------------------------------
5. Button Styles
------------------------------------------------
----------------------------------------------*/
.btn{
	border-width: 0;
	display: block;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
}

.btn--primary{
	width: 100%;
	color: #fff;
	background-color: #000;
	height: 30px;
	line-height: 30px;
}

.btn--primary-white{
	background-color: #fff;
	color:#000;
}

.btn--highlight{
	color: #fff;
	background-color: #00a2e3;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
}

/*.btn__menu_expand{
	margin-top: 0px;
}*/

.btn:hover, .btn:focus{
	color:#fff;
	opacity: 0.8;
}

.btn--lg{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}

.btn__menu_expand{
	margin-top: 4px;
}

/*----------------------------------------------
------------------------------------------------
6. Nav/Footer Styles
------------------------------------------------
----------------------------------------------*/
.nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;	
	padding-top: 15px;
	padding-bottom: 5px;
	z-index: 100;
	opacity: 0.95;
	background-color: #F6F6F6;
}

.nav__txt{
	font-size: 14px;
	line-height: 14px;
	margin-left: 50px;
	font-weight: 400;
	color: #999;
}

.nav__txt--mobile{
	margin-top: 10px;
}

.nav__menu--mobile{
	display: none;
}

.nav__bottom-line{
	position: relative;
	left: -20px;
	margin-top: 5px;
	background-color: #999;
	height: 2px;
	width: 6000px;
	opacity: 0.05;
}

/*.nav__bottom-line{
	position: relative;
	top: 10px;
	left: -20px;

	width: 6000px;
	background-image: url(../img/global/nav-shadow.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-color: transparent;
	background-size: 100% 50%;
	height: 10px;
}*/

.nav__logo{
	margin-top: 7px;
	margin-bottom: 12px;
}

.footer__copyright{
	font-size: 14px;
	font-weight: 400;
	margin-top: 10px;
}

.footer__menu--margin_left{
	margin-left: 40px;
}

footer{

	background-color: #F0F0F0;
}

/*----------------------------------------------
------------------------------------------------
7. work Styles
------------------------------------------------
----------------------------------------------*/
.work__header__wrapper{
/*	background-color: #262829;*/
}

.work__background--differentiator{
	background-color: #FFF;
}

.work__background--black{
	background-color: #000;	
}
/*----------------------------------------------
------------------------------------------------
8. Ad
------------------------------------------------
----------------------------------------------*/
.ad{
	position: fixed;
	z-index: 9999;
	bottom: 10px;
	right: 10px;
	width: 260px;
	height: 260px;
}

.ad__close{
	position: absolute;
	color: #3E3E3E;
	top:5px;
	right: 10px;
	cursor: pointer;
}

