html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#ppabout
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 5px;
	left: -15px;
}

#pabout
{
	width: 0.01px;
	margin-left: 547px;
	position: relative;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -22px;
}

#u8110
{
	z-index: 318;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9010
{
	z-index: 319;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9012
{
	z-index: 320;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#u7316
{
	z-index: 68;
	width: 647px;
	position: fixed;
	top: 35px;
	left: 50%;
	margin-left: -67px;
}

#u7316_img
{
	vertical-align: top;
}

#u7321-29
{
	z-index: 70;
	width: 480px;
	min-height: 400px;
	margin-left: 35px;
	margin-top: 132px;
	position: relative;
}

#philosophy
{
	margin-left: 591px;
	margin-top: 288px;
	position: relative;
}

#u7328-17
{
	z-index: 99;
	width: 480px;
	min-height: 400px;
	margin-left: 35px;
	margin-top: 132px;
	position: relative;
}

#resume
{
	margin-left: 547px;
	margin-top: 400px;
	position: relative;
}

#u7332-141
{
	z-index: 145;
	width: 480px;
	min-height: 1238px;
	margin-left: 35px;
	margin-top: 2px;
	position: relative;
}

#u7321-2,#u7321-3,#u7321-4,#u7321-5,#u7332-2,#u7332-3,#u7332-4,#u7332-5
{
	text-align: left;
	font-weight: bold;
}

#u7332-10,#u7332-17,#u7332-28,#u7332-39,#u7332-48,#u7332-55,#u7332-64,#u7332-71,#u7332-83,#u7332-94,#u7332-99,#u7332-104,#u7332-111,#u7332-116
{
	font-weight: bold;
}

#u7321-7,#u7321-12,#u7321-17,#u7332-7,#u7332-8,#u7332-25,#u7332-26,#u7332-80,#u7332-81,#u7332-123,#u7332-124
{
	text-align: left;
	color: #5B5B5B;
	font-weight: bold;
}

#u7321-9,#u7321-10,#u7321-14,#u7321-15,#u7321-19,#u7321-21,#u7321-23,#u7321-24,#u7321-25,#u7321-26,#u7332-12,#u7332-14,#u7332-15,#u7332-19,#u7332-21,#u7332-22,#u7332-23,#u7332-29,#u7332-31,#u7332-33,#u7332-36,#u7332-37,#u7332-41,#u7332-45,#u7332-46,#u7332-50,#u7332-52,#u7332-53,#u7332-57,#u7332-59,#u7332-61,#u7332-62,#u7332-66,#u7332-68,#u7332-69,#u7332-73,#u7332-75,#u7332-77,#u7332-78,#u7332-85,#u7332-87,#u7332-91,#u7332-92,#u7332-96,#u7332-97,#u7332-101,#u7332-102,#u7332-106,#u7332-108,#u7332-109,#u7332-113,#u7332-114,#u7332-118,#u7332-120,#u7332-121,#u7332-126,#u7332-128,#u7332-130,#u7332-132,#u7332-133,#u7332-134,#u7332-135,#u7332-136,#u7332-137,#u7332-138
{
	text-align: left;
	color: #5B5B5B;
}

#contact
{
	margin-left: 547px;
	margin-top: 57px;
	position: relative;
}

#pu7534
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 62px;
	position: relative;
}

#u7534
{
	z-index: 67;
	width: 39px;
	height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -39px;
	margin-top: 143px;
	left: 460px;
}

#u7334-29
{
	z-index: 116;
	width: 480px;
	min-height: 400px;
	position: relative;
	margin-right: -480px;
}

#u7334-7
{
	text-align: justify;
	color: #5B5B5B;
	font-weight: bold;
}

#u7328-13,#u7334-8,#u7334-9,#u7334-11,#u7334-12,#u7334-13,#u7334-17
{
	text-align: justify;
	color: #5B5B5B;
}

#u7334-15
{
	text-decoration: none;
	color: #5B5B5B;
}

#u7328-14,#u7334-18,#u7334-19
{
	color: #5B5B5B;
	font-weight: normal;
}

#u7334-21,#u7334-22,#u7334-23,#u7334-25
{
	font-size: 14px;
	color: #5B5B5B;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
}

#u7321-27,#u7328,#u7328-2,#u7328-3,#u7328-4,#u7328-5,#u7328-6,#u7328-8,#u7328-9,#u7328-10,#u7328-11,#u7328-15,#u7332-139,#u7334-2,#u7334-3,#u7334-4,#u7334-5,#u7334-26,#u7334-27
{
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#pamphletu7471
{
	z-index: 13;
	width: 0.01px;
	height: 0px;
	padding-bottom: 104px;
	margin-top: 57px;
	position: relative;
}

#u7474
{
	position: absolute;
	z-index: 14;
	width: 169px;
	top: 34px;
}

#u7475
{
	z-index: 15;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
}

#u7476-4
{
	z-index: 16;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 24px;
	left: 2px;
}

#u7477
{
	z-index: 20;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	margin-top: 1px;
	left: 59px;
}

#u7478-4
{
	z-index: 21;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u7487
{
	z-index: 25;
	position: relative;
	width: 0px;
	margin-top: -201px;
	left: -166px;
}

#u7491
{
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 195px;
	background: transparent url("../images/facebook-u7491-fr.png") no-repeat center center;
}

#u7491:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7491:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7488
{
	position: absolute;
	width: 49px;
	height: 50px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 255px;
	background: transparent url("../images/twitter-u7488-fr.png") no-repeat center center;
}

#u7488:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7488:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu8112
{
	z-index: 28;
	width: 0.01px;
	height: 0px;
	padding-bottom: 104px;
	margin-left: 124px;
	top: -104px;
	margin-bottom: -104px;
	position: relative;
}

#u8117
{
	position: absolute;
	z-index: 29;
	width: 169px;
	top: 34px;
}

#u8118
{
	z-index: 30;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
}

#u8118.MuseLinkActive
{
	margin: 0px -107px 0px 0px;
}

#u8119-4
{
	z-index: 31;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 24px;
	left: 2px;
}

#u8120
{
	z-index: 35;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	margin-top: 1px;
	left: 59px;
}

#u8121-4
{
	z-index: 36;
	width: 103px;
	min-height: 14px;
	text-align: center;
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -103px;
	margin-top: 23px;
	left: 3px;
}

#u8124
{
	z-index: 40;
	position: relative;
	width: 0px;
	margin-top: -201px;
	left: -166px;
}

#u8125
{
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 195px;
	background: transparent url("../images/google--u8125-fr.png") no-repeat center center;
}

#u8125:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u8125:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u8126
{
	position: absolute;
	width: 49px;
	height: 50px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 255px;
	background: transparent url("../images/tumblr-u8126-fr.png") no-repeat center center;
}

#u8126:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u8126:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#pamphletu8145
{
	z-index: 43;
	width: 0.01px;
	height: 0px;
	padding-bottom: 104px;
	margin-left: 245px;
	top: -104px;
	margin-bottom: -104px;
	position: relative;
}

#u8155
{
	position: absolute;
	z-index: 44;
	width: 169px;
	top: 34px;
}

#u8158
{
	z-index: 45;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
}

#u8159-4
{
	z-index: 46;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 24px;
	left: 2px;
}

#u8156
{
	z-index: 50;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	margin-top: 1px;
	left: 59px;
}

#u8157-4
{
	z-index: 51;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u8150
{
	z-index: 55;
	position: relative;
	width: 0px;
	margin-top: -201px;
	left: -166px;
}

#u8151
{
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 195px;
	background: transparent url("../images/linkedin-u8151-fr.png") no-repeat center center;
}

#u8151:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u8151:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u8152
{
	position: absolute;
	width: 49px;
	height: 50px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 255px;
	background: transparent url("../images/renren-u8152-fr.png") no-repeat center center;
}

#u8152:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u8152:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#pamphletu8174
{
	z-index: 58;
	width: 0.01px;
	height: 1px;
	padding-bottom: 102px;
	margin-left: 366px;
	top: -104px;
	margin-bottom: -103px;
	position: relative;
}

#u8177
{
	position: absolute;
	z-index: 59;
	width: 107px;
	top: 34px;
}

#u8180
{
	z-index: 60;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
}

#u8181-4
{
	z-index: 61;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #000000;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 2px;
}

#u8188
{
	z-index: 65;
	position: relative;
	width: 0px;
	margin-top: -201px;
	left: -166px;
}

#u8189
{
	position: absolute;
	width: 50px;
	height: 50px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 195px;
	background: transparent url("../images/sina-u8189-fr.png") no-repeat center center;
}

#u8189:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u8189:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#pamphletu7252
{
	z-index: 291;
	width: 0.01px;
	height: 0px;
	padding-bottom: 69px;
	position: fixed;
	bottom: 124px;
	left: 50%;
	margin-left: 65px;
}

#u7267
{
	position: absolute;
	z-index: 292;
	width: 107px;
	left: 16px;
}

#u7268
{
	z-index: 293;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
}

#u7269-4
{
	z-index: 294;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 2px;
}

#u7274
{
	z-index: 298;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	left: 107px;
}

#u7275-4
{
	z-index: 299;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u7270
{
	z-index: 303;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	left: 218px;
}

#u7271-4
{
	z-index: 304;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u7272
{
	z-index: 308;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	left: 329px;
}

#u7273-4
{
	z-index: 309;
	width: 103px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -103px;
	margin-top: 23px;
	left: 3px;
}

#u7257
{
	z-index: 313;
	position: relative;
	width: 0px;
	margin-top: -185px;
	left: -195px;
}

#u7260
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 195px;
	background: transparent url("../images/me-u7260-fr.png") no-repeat center center;
}

#u7260:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7260:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7261
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 303px;
	background: transparent url("../images/philosophy-u7261-fr.png") no-repeat center center;
}

#u7261:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7261:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7258
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 414px;
	background: transparent url("../images/resume-u7258-fr.png") no-repeat center center;
}

#u7258:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7258:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7262
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 525px;
	background: transparent url("../images/contact-u7262-fr.png") no-repeat center center;
}

#u7262:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7262:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7491.PamphletThumbSelected,#u7488.PamphletThumbSelected,#u8125.PamphletThumbSelected,#u8126.PamphletThumbSelected,#u8151.PamphletThumbSelected,#u8152.PamphletThumbSelected,#u8189.PamphletThumbSelected,#u7260.PamphletThumbSelected,#u7261.PamphletThumbSelected,#u7258.PamphletThumbSelected,#u7262.PamphletThumbSelected
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u7280
{
	z-index: 290;
	width: 8999px;
	height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: fixed;
	bottom: 143px;
	left: 50%;
	margin-left: -4532px;
}

#u9427
{
	z-index: 321;
	position: fixed;
	bottom: 148px;
	left: 50%;
	margin-left: -436px;
}

#u9427_img
{
	display: block;
	vertical-align: top;
}

#u9428-4
{
	z-index: 322;
	width: 75px;
	min-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	bottom: 148px;
	left: 50%;
	margin-left: -512px;
}

#u9429-4
{
	z-index: 326;
	width: 101px;
	min-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	bottom: 148px;
	left: 50%;
	margin-left: -398px;
}

body
{
	padding-bottom: 83px;
}

