html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu9032
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: 20px;
}

#u9032
{
	z-index: 81;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9034
{
	z-index: 82;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9036
{
	z-index: 83;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#pamphletu8763
{
	z-index: 15;
	width: 0.01px;
	height: 105px;
	padding-bottom: 535px;
	position: relative;
}

#u8773
{
	position: absolute;
	z-index: 16;
	width: 1024px;
}

#u8780
{
	z-index: 17;
	width: 1024px;
	height: 620px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 20px;
	margin-right: -1025px;
	position: relative;
}

#u8781
{
	z-index: 18;
	width: 1024px;
	height: 530px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/4-u8781-fr.png") no-repeat center top;
}

#u8782-7
{
	z-index: 19;
	width: 294px;
	min-height: 39px;
	margin-top: 40px;
	position: relative;
}

#u8782-5
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
}

#u8774
{
	z-index: 26;
	width: 1024px;
	height: 613px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 27px;
	margin-right: -1025px;
	position: relative;
}

#u8776
{
	z-index: 27;
	width: 1024px;
	height: 530px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/1-u8776-fr.png") no-repeat center top;
}

#u8775-6
{
	z-index: 28;
	width: 294px;
	min-height: 43px;
	margin-top: 40px;
	position: relative;
}

#u8782-2,#u8775-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u8777
{
	z-index: 34;
	width: 1024px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 36px;
	margin-right: -1025px;
	position: relative;
}

#u8779
{
	z-index: 35;
	width: 1024px;
	height: 530px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/3-u8779-fr.jpg") no-repeat center top;
}

#u8778-6
{
	z-index: 36;
	width: 443px;
	min-height: 34px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 40px;
	position: relative;
}

#u8778-2
{
	color: #000000;
	font-weight: bold;
}

#u8782-4,#u8775-4,#u8778-4
{
	color: #5B5B5B;
	font-weight: normal;
}

#u8783
{
	z-index: 42;
	position: relative;
	width: 0px;
	margin-top: 105px;
	left: 701px;
}

#u8785
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	border-style: none;
	border-color: transparent;
	top: 468px;
	left: 136px;
	background: transparent url("../images/dot-u8641-fr.png") no-repeat center center;
}

#u8785:hover
{
	background-image: url("../images/dot3-u8641-r-fr.png");
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px;
}

#u8786
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	border-style: none;
	border-color: transparent;
	top: 468px;
	left: 176px;
	background: transparent url("../images/dot-u8641-fr.png") no-repeat center center;
}

#u8786:hover
{
	background-image: url("../images/dot3-u8641-r-fr.png");
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px;
}

#u8784
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	border-style: none;
	border-color: transparent;
	top: 468px;
	left: 216px;
	background: transparent url("../images/dot-u8641-fr.png") no-repeat center center;
}

#u8784:hover
{
	background-image: url("../images/dot3-u8641-r-fr.png");
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px;
}

#u8785.PamphletThumbSelected,#u8786.PamphletThumbSelected,#u8784.PamphletThumbSelected
{
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
	background: transparent url("../images/dot3-u8641-r-fr.png") no-repeat center center;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#architecture
{
	margin-left: 512px;
	top: -640px;
	margin-bottom: -18px;
	position: relative;
}

#pu2545
{
	width: 0.01px;
	margin-left: 675px;
	top: -124px;
	margin-bottom: -124px;
	position: relative;
}

#u2545
{
	z-index: 46;
	width: 8999px;
	height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: fixed;
	bottom: 136px;
	left: 50%;
	margin-left: -4532px;
}

#pamphletu2491
{
	z-index: 47;
	width: 0.01px;
	height: 0px;
	padding-bottom: 69px;
	position: fixed;
	bottom: 119px;
	left: 50%;
	margin-left: -32px;
}

#u2504
{
	position: absolute;
	z-index: 48;
	width: 553px;
	left: 16px;
}

#u2509
{
	z-index: 49;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
	left: 109px;
}

#u2510-4
{
	z-index: 50;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 2px;
}

#u2505
{
	z-index: 54;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	left: 216px;
}

#u2506-4
{
	z-index: 55;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u2511
{
	z-index: 59;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	left: 327px;
}

#u2512-4
{
	z-index: 60;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u2507
{
	z-index: 64;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
}

#u2508-4
{
	z-index: 65;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u2513
{
	z-index: 69;
	width: 112px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -112px;
	left: 441px;
}

#u2514-4
{
	z-index: 70;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
}

#u2496
{
	z-index: 74;
	position: relative;
	width: 0px;
	margin-top: -184px;
	left: -195px;
}

#u2501
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 200px;
	left: 303px;
	background: transparent url("../images/product-u2402-fr.png") no-repeat center center;
}

#u2501:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2501:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2497
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 200px;
	left: 411px;
	background: transparent url("../images/arch-u2439-fr.png") no-repeat center center;
}

#u2497:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2497:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2500
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 200px;
	left: 522px;
	background: transparent url("../images/urban-u2456-fr.png") no-repeat center center;
}

#u2500:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2500:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2498
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 200px;
	left: 195px;
	background: transparent url("../images/website-u2466-fr.png") no-repeat center center;
}

#u2498:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2498:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2499
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 200px;
	left: 635px;
	background: transparent url("../images/others-u2476-fr.png") no-repeat center center;
}

#u2499:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2499:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2501.PamphletThumbSelected,#u2497.PamphletThumbSelected,#u2500.PamphletThumbSelected,#u2498.PamphletThumbSelected,#u2499.PamphletThumbSelected
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2543
{
	z-index: 13;
	width: 422px;
	position: relative;
	margin-right: -422px;
}

#u2543_clip
{
	overflow: hidden;
	width: 422px;
	height: 142px;
}

#u2543_img
{
	margin-right: -25px;
}

#u9415
{
	z-index: 84;
	position: fixed;
	bottom: 141px;
	left: 50%;
	margin-left: -436px;
}

#u9415_img
{
	display: block;
	vertical-align: top;
}

#u9416-4
{
	z-index: 85;
	width: 75px;
	min-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	bottom: 141px;
	left: 50%;
	margin-left: -512px;
}

#u9417-4
{
	z-index: 89;
	width: 101px;
	min-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	bottom: 141px;
	left: 50%;
	margin-left: -398px;
}

