html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu9122
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: -27px;
}

#u9122
{
	z-index: 63;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9124
{
	z-index: 64;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9126
{
	z-index: 65;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#slideshowu6770
{
	z-index: 13;
	width: 0.01px;
	height: 0px;
	padding-bottom: 680px;
	position: relative;
}

#u6784
{
	position: absolute;
	z-index: 14;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	left: 47px;
}

#u7098
{
	z-index: 15;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u7107
{
	z-index: 17;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u7057
{
	z-index: 19;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u7066
{
	z-index: 21;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u7075
{
	z-index: 23;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u7098_img,#u7107_img,#u7057_img,#u7066_img,#u7075_img
{
	vertical-align: top;
}

#u6821
{
	position: absolute;
	z-index: 25;
	width: 341px;
	top: 570px;
	left: 388px;
}

#u7101
{
	z-index: 26;
	width: 65px;
	height: 50px;
	border-color: #C1272D;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
}

#u7110
{
	z-index: 28;
	width: 65px;
	height: 50px;
	border-color: #C1272D;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 69px;
}

#u7110_img
{
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: top;
}

#u7060
{
	z-index: 30;
	width: 65px;
	height: 50px;
	border-color: #C1272D;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 138px;
}

#u7069
{
	z-index: 32;
	width: 65px;
	height: 50px;
	border-color: #C1272D;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 207px;
}

#u7078
{
	z-index: 34;
	width: 65px;
	height: 50px;
	border-color: #C1272D;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 276px;
}

#u7101.SSSlideLinkSelected,#u7110.SSSlideLinkSelected,#u7060.SSSlideLinkSelected,#u7069.SSSlideLinkSelected,#u7078.SSSlideLinkSelected
{
	margin: 0px -65px 0px 0px;
}

#u7101_clip,#u7060_clip,#u7069_clip,#u7078_clip
{
	overflow: hidden;
	width: 65px;
	height: 50px;
}

#u7101_img,#u7060_img,#u7069_img,#u7078_img
{
	margin-left: -15px;
	margin-right: -15px;
}

#u6771-4
{
	position: absolute;
	z-index: 36;
	width: 45px;
	min-height: 58px;
	padding: 6px;
	text-align: right;
	color: #39393A;
	font-size: 48px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: normal;
	top: 234px;
}

#u6818-4
{
	position: absolute;
	z-index: 40;
	width: 40px;
	min-height: 58px;
	padding: 6px;
	text-align: right;
	color: #39393A;
	font-size: 48px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	top: 235px;
	left: 1048px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background-image: url("../images/loading.gif");
	background-position: center center;
	background-repeat: no-repeat;
}

#pamphletu8578
{
	z-index: 45;
	width: 0.01px;
	height: 0px;
	padding-bottom: 68px;
	position: fixed;
	bottom: 120px;
	left: 50%;
	margin-left: -97px;
}

#u8589
{
	position: absolute;
	z-index: 46;
	width: 107px;
}

#u8590
{
	z-index: 47;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
}

#u8591-4
{
	z-index: 48;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 2px;
}

#u8579
{
	z-index: 52;
	position: relative;
	width: 0px;
	margin-top: -185px;
	left: -107px;
}

#u8580
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 195px;
	background: transparent url("../images/next-u8356-fr.png") no-repeat center center;
}

#u8580:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pamphletu8592
{
	z-index: 54;
	width: 0.01px;
	height: 0px;
	padding-bottom: 68px;
	position: fixed;
	bottom: 120px;
	left: 50%;
	margin-left: 426px;
}

#u8601
{
	position: absolute;
	z-index: 55;
	width: 107px;
	left: 13px;
}

#u8602
{
	z-index: 56;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
}

#u8603-4
{
	z-index: 57;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 2px;
}

#u8595
{
	z-index: 61;
	position: relative;
	width: 0px;
	margin-top: -185px;
	left: -195px;
}

#u8596
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 195px;
	background: transparent url("../images/next2-u8372-fr.png") no-repeat center center;
}

#u8580:active,#u8596:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u8596:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u6767
{
	z-index: 44;
	width: 8999px;
	height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: fixed;
	bottom: 136px;
	left: 50%;
	margin-left: -4532px;
}

#u9478
{
	z-index: 66;
	position: fixed;
	bottom: 141px;
	left: 50%;
	margin-left: -411px;
}

#u9478_img
{
	display: block;
	vertical-align: top;
}

#u9479-4
{
	z-index: 67;
	width: 101px;
	min-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	bottom: 142px;
	left: 50%;
	margin-left: -512px;
}

#u9480-4
{
	z-index: 71;
	width: 101px;
	min-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	bottom: 142px;
	left: 50%;
	margin-left: -373px;
}

