html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu9056
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: -25px;
}

#u9056
{
	z-index: 148;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9058
{
	z-index: 149;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9060
{
	z-index: 150;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#u5682
{
	z-index: 104;
	width: 1024px;
	margin-left: 44px;
	position: relative;
}

#pu5657-6
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 40px;
	position: relative;
}

#u5657-6
{
	z-index: 95;
	width: 294px;
	min-height: 39px;
	position: relative;
	margin-right: -294px;
}

#u5657-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u5657-4
{
	color: #5B5B5B;
	font-weight: normal;
}

#u5647-6
{
	z-index: 36;
	width: 294px;
	min-height: 39px;
	text-align: left;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -294px;
	left: 947px;
}

#u5587-9
{
	z-index: 82;
	width: 1024px;
	min-height: 39px;
	margin-left: 45px;
	margin-top: 21px;
	position: relative;
}

#u5587-2,#u5587-3,#u5587-5,#u5587-6
{
	text-align: justify;
	color: #5B5B5B;
}

#u5587-7
{
	font-weight: normal;
}

#animation
{
	margin-left: 557px;
	margin-top: 17px;
	position: relative;
}

#u7642
{
	z-index: 13;
	width: 1024px;
	min-height: 579px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 44px;
	margin-top: 49px;
	position: relative;
}

#problem8
{
	margin-left: 557px;
	margin-top: 50px;
	position: relative;
}

#ppu5589-4
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 24px;
	position: relative;
}

#pu5589-4
{
	width: 0.01px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -1px;
}

#u5589-4
{
	z-index: 42;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
}

#pu5687
{
	width: 0.01px;
	margin-left: 90px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u5687
{
	z-index: 24;
	width: 375px;
	position: relative;
	margin-right: -375px;
	margin-top: 9px;
	left: 62px;
}

#u5687_img
{
	margin-right: -786px;
	margin-bottom: -321px;
}

#u5710-4
{
	z-index: 54;
	width: 294px;
	min-height: 39px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	left: 127px;
}

#u5713-4
{
	z-index: 58;
	width: 294px;
	min-height: 39px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 163px;
}

#u5701
{
	z-index: 26;
	width: 375px;
	position: relative;
	margin-right: -375px;
	margin-top: 40px;
	left: 546px;
}

#u5701_img
{
	margin-top: -301px;
	margin-right: -786px;
	margin-bottom: -20px;
}

#u5712-4
{
	z-index: 78;
	width: 294px;
	min-height: 39px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 29px;
	left: 610px;
}

#pu5705
{
	width: 0.01px;
	margin-left: 135px;
	margin-top: 75px;
	position: relative;
}

#u5705
{
	z-index: 28;
	width: 375px;
	position: relative;
	margin-right: -375px;
	left: 511px;
}

#u5687_clip,#u5701_clip,#u5705_clip
{
	overflow: hidden;
	width: 375px;
	height: 280px;
}

#u5705_img
{
	margin: -301px -367px -20px -420px;
}

#u5695
{
	z-index: 30;
	width: 380px;
	position: relative;
	margin-right: -380px;
	margin-top: 3px;
	left: 90px;
}

#u5715-4
{
	z-index: 74;
	width: 294px;
	min-height: 39px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 142px;
}

#solution8
{
	margin-left: 557px;
	margin-top: 28px;
	position: relative;
}

#pu5761
{
	width: 0.01px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u5761
{
	z-index: 14;
	width: 1112px;
	position: relative;
	margin-right: -1112px;
	margin-top: 2913px;
	left: 3px;
}

#u5751
{
	z-index: 16;
	width: 1025px;
	position: relative;
	margin-right: -1025px;
	margin-top: 1993px;
	left: 45px;
}

#u5745
{
	z-index: 18;
	width: 1050px;
	position: relative;
	margin-right: -1050px;
	margin-top: 1459px;
	left: 35px;
}

#u5730
{
	z-index: 20;
	width: 1210px;
	position: relative;
	margin-right: -1210px;
	margin-top: 184px;
}

#u5735
{
	z-index: 22;
	width: 1154px;
	position: relative;
	margin-right: -1154px;
	margin-top: 912px;
	left: 49px;
}

#u5725
{
	z-index: 32;
	width: 380px;
	position: relative;
	margin-right: -380px;
	left: 225px;
}

#u5695_img,#u5725_img
{
	margin-left: -391px;
	margin-right: -390px;
	margin-bottom: -321px;
}

#u5719
{
	z-index: 34;
	width: 380px;
	position: relative;
	margin-right: -380px;
	margin-top: 37px;
	left: 620px;
}

#u5695_clip,#u5725_clip,#u5719_clip
{
	overflow: hidden;
	width: 380px;
	height: 280px;
}

#u5719_img
{
	margin: -341px 26px 20px -807px;
}

#u5650-4
{
	z-index: 46;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 21px;
	left: 44px;
}

#u5639-4
{
	z-index: 50;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 325px;
	left: 44px;
}

#u5729-4
{
	z-index: 62;
	width: 294px;
	min-height: 39px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 162px;
	left: 97px;
}

#u5742-4
{
	z-index: 66;
	width: 294px;
	min-height: 39px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 812px;
	left: 44px;
}

#u5744-4
{
	z-index: 70;
	width: 294px;
	min-height: 39px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 1392px;
	left: 44px;
}

#u5750-4
{
	z-index: 91;
	width: 1024px;
	min-height: 39px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -1024px;
	margin-top: 1969px;
	left: 45px;
}

#realization8
{
	position: relative;
	width: 22px;
	margin-right: -22px;
	margin-top: 325px;
	left: 557px;
}

#u5756
{
	z-index: 106;
	width: 1026px;
	position: relative;
	margin-right: -1026px;
	margin-top: 2422px;
	left: 44px;
}

#u5682_img,#u5761_img,#u5751_img,#u5745_img,#u5730_img,#u5735_img,#u5756_img
{
	vertical-align: top;
}

#u5629
{
	z-index: 108;
	width: 8999px;
	height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: fixed;
	bottom: 136px;
	left: 50%;
	margin-left: -4532px;
}

#pamphletu5594
{
	z-index: 109;
	width: 0.01px;
	height: 0px;
	padding-bottom: 68px;
	position: fixed;
	bottom: 120px;
	left: 50%;
	margin-left: 98px;
}

#u5599
{
	position: absolute;
	z-index: 110;
	width: 107px;
	left: 16px;
}

#u5600
{
	z-index: 111;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
}

#u5601-4
{
	z-index: 112;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 2px;
}

#u5602
{
	z-index: 116;
	width: 110px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -110px;
	left: 107px;
}

#u5603-4
{
	z-index: 117;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u5604
{
	z-index: 121;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	left: 218px;
}

#u5605-4
{
	z-index: 122;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u5610
{
	z-index: 126;
	position: relative;
	width: 0px;
	margin-top: -185px;
	left: -195px;
}

#u5612
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 195px;
	background: transparent url("../images/problem-u3483-fr.png") no-repeat center center;
}

#u5612:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u5612:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u5613
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 303px;
	background: transparent url("../images/solution-u3479-fr.png") no-repeat center center;
}

#u5613:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u5613:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u5611
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 414px;
	background: transparent url("../images/realization-u3481-fr.png") no-repeat center center;
}

#u5611:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u5611:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u5612.PamphletThumbSelected,#u5613.PamphletThumbSelected,#u5611.PamphletThumbSelected
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu8298
{
	z-index: 130;
	width: 0.01px;
	height: 0px;
	padding-bottom: 68px;
	position: fixed;
	bottom: 120px;
	left: 50%;
	margin-left: -97px;
}

#u8309
{
	position: absolute;
	z-index: 131;
	width: 107px;
}

#u8310
{
	z-index: 132;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
}

#u8311-4
{
	z-index: 133;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 2px;
}

#u8299
{
	z-index: 137;
	position: relative;
	width: 0px;
	margin-top: -185px;
	left: -107px;
}

#u8300
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 195px;
	background: transparent url("../images/next-u8356-fr.png") no-repeat center center;
}

#u8300:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#pamphletu8312
{
	z-index: 139;
	width: 0.01px;
	height: 0px;
	padding-bottom: 68px;
	position: fixed;
	bottom: 120px;
	left: 50%;
	margin-left: 426px;
}

#u8321
{
	position: absolute;
	z-index: 140;
	width: 107px;
	left: 13px;
}

#u8322
{
	z-index: 141;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
}

#u8323-4
{
	z-index: 142;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 2px;
}

#u8315
{
	z-index: 146;
	position: relative;
	width: 0px;
	margin-top: -185px;
	left: -195px;
}

#u8316
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 201px;
	left: 195px;
	background: transparent url("../images/next2-u8372-fr.png") no-repeat center center;
}

#u8300:active,#u8316:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u8316:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u9430
{
	z-index: 152;
	position: fixed;
	bottom: 141px;
	left: 50%;
	margin-left: -411px;
}

#u9430_img
{
	display: block;
	vertical-align: top;
}

#u9431-4
{
	z-index: 153;
	width: 101px;
	min-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	bottom: 141px;
	left: 50%;
	margin-left: -512px;
}

#u9432-4
{
	z-index: 157;
	width: 101px;
	min-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	bottom: 141px;
	left: 50%;
	margin-left: -373px;
}

