html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu9038
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: 20px;
}

#u9038
{
	z-index: 81;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9040
{
	z-index: 82;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9042
{
	z-index: 83;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#pamphletu8854
{
	z-index: 15;
	width: 0.01px;
	height: 105px;
	padding-bottom: 542px;
	position: relative;
}

#u8866
{
	position: absolute;
	z-index: 16;
	width: 1024px;
}

#u8870
{
	z-index: 17;
	width: 1024px;
	height: 609px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 38px;
	margin-right: -1025px;
	position: relative;
}

#u8871
{
	z-index: 18;
	width: 1024px;
	height: 530px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/1-u8871-fr.jpg") no-repeat center top;
}

#u8872-6
{
	z-index: 19;
	width: 388px;
	min-height: 39px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-top: 40px;
	position: relative;
}

#u8867
{
	z-index: 25;
	width: 1024px;
	height: 620px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 27px;
	margin-right: -1025px;
	position: relative;
}

#u8869
{
	z-index: 26;
	width: 1024px;
	height: 530px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/2-u8869-fr.png") no-repeat center top;
}

#u8868-7
{
	z-index: 27;
	width: 294px;
	min-height: 43px;
	margin-top: 40px;
	position: relative;
}

#u8872-2,#u8868-2
{
	font-weight: bold;
}

#u8873
{
	z-index: 34;
	width: 1024px;
	height: 604px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 43px;
	margin-right: -1025px;
	position: relative;
}

#u8875
{
	z-index: 35;
	width: 1024px;
	height: 530px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/4-u8875-fr.png") no-repeat center top;
}

#u8874-6
{
	z-index: 36;
	width: 414px;
	min-height: 34px;
	margin-top: 40px;
	position: relative;
}

#u8874-2
{
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u8872-4,#u8868-4,#u8874-4
{
	color: #5B5B5B;
	font-weight: normal;
}

#u8876
{
	z-index: 42;
	position: relative;
	width: 0px;
	margin-top: 105px;
	left: 701px;
}

#u8877
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	border-style: none;
	border-color: transparent;
	top: 468px;
	left: 136px;
	background: transparent url("../images/dot-u8641-fr.png") no-repeat center center;
}

#u8877:hover
{
	background-image: url("../images/dot3-u8641-r-fr.png");
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px;
}

#u8878
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	border-style: none;
	border-color: transparent;
	top: 468px;
	left: 176px;
	background: transparent url("../images/dot-u8641-fr.png") no-repeat center center;
}

#u8878:hover
{
	background-image: url("../images/dot3-u8641-r-fr.png");
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px;
}

#u8879
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	border-style: none;
	border-color: transparent;
	top: 468px;
	left: 216px;
	background: transparent url("../images/dot-u8641-fr.png") no-repeat center center;
}

#u8879:hover
{
	background-image: url("../images/dot3-u8641-r-fr.png");
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	margin: 0px;
}

#u8877.PamphletThumbSelected,#u8878.PamphletThumbSelected,#u8879.PamphletThumbSelected
{
	background-size: cover !important;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-khtml-background-size: cover;
	-ms-background-size: cover;
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
	background: transparent url("../images/dot3-u8641-r-fr.png") no-repeat center center;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#planning
{
	margin-left: 512px;
	top: -647px;
	margin-bottom: -18px;
	position: relative;
}

#pu2578
{
	width: 0.01px;
	margin-left: 675px;
	top: -131px;
	margin-bottom: -131px;
	position: relative;
}

#u2578
{
	z-index: 46;
	width: 8999px;
	height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: fixed;
	bottom: 136px;
	left: 50%;
	margin-left: -4532px;
}

#pamphletu2579
{
	z-index: 47;
	width: 0.01px;
	height: 0px;
	padding-bottom: 69px;
	position: fixed;
	bottom: 119px;
	left: 50%;
	margin-left: -32px;
}

#u2588
{
	position: absolute;
	z-index: 48;
	width: 553px;
	left: 16px;
}

#u2597
{
	z-index: 49;
	width: 107px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -107px;
	left: 109px;
}

#u2598-4
{
	z-index: 50;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 2px;
}

#u2591
{
	z-index: 54;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	left: 216px;
}

#u2592-4
{
	z-index: 55;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u2593
{
	z-index: 59;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
	left: 327px;
}

#u2594-4
{
	z-index: 60;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u2595
{
	z-index: 64;
	width: 111px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -111px;
}

#u2596-4
{
	z-index: 65;
	width: 104px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -104px;
	margin-top: 23px;
	left: 3px;
}

#u2589
{
	z-index: 69;
	width: 112px;
	height: 68px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 30px 30px 0px 30px ;
	-webkit-border-radius: 30px 30px 0px 30px ;
	-khtml-border-radius: 30px 30px 0px 30px ;
	border-radius: 30px 30px 0px 30px ;
	position: relative;
	margin-right: -112px;
	left: 441px;
}

#u2590-4
{
	z-index: 70;
	width: 103px;
	min-height: 14px;
	text-align: center;
	color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -103px;
	margin-top: 23px;
}

#u2599
{
	z-index: 74;
	position: relative;
	width: 0px;
	margin-top: -184px;
	left: -195px;
}

#u2604
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 200px;
	left: 303px;
	background: transparent url("../images/product-u2402-fr.png") no-repeat center center;
}

#u2604:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2604:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2600
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 200px;
	left: 411px;
	background: transparent url("../images/arch-u2439-fr.png") no-repeat center center;
}

#u2600:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2600:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2603
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 200px;
	left: 522px;
	background: transparent url("../images/urban-u2456-fr.png") no-repeat center center;
}

#u2603:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2603:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2602
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 200px;
	left: 195px;
	background: transparent url("../images/website-u2466-fr.png") no-repeat center center;
}

#u2602:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2602:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2601
{
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	top: 200px;
	left: 635px;
	background: transparent url("../images/others-u2476-fr.png") no-repeat center center;
}

#u2601:hover
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2601:active
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2604.PamphletThumbSelected,#u2600.PamphletThumbSelected,#u2603.PamphletThumbSelected,#u2602.PamphletThumbSelected,#u2601.PamphletThumbSelected
{
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	margin: 0px;
}

#u2605
{
	z-index: 13;
	width: 422px;
	position: relative;
	margin-right: -422px;
}

#u2605_clip
{
	overflow: hidden;
	width: 422px;
	height: 142px;
}

#u2605_img
{
	margin-right: -25px;
}

#u9418
{
	z-index: 84;
	position: fixed;
	bottom: 141px;
	left: 50%;
	margin-left: -436px;
}

#u9418_img
{
	display: block;
	vertical-align: top;
}

#u9419-4
{
	z-index: 85;
	width: 75px;
	min-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	bottom: 141px;
	left: 50%;
	margin-left: -512px;
}

#u9420-4
{
	z-index: 89;
	width: 101px;
	min-height: 23px;
	color: #FFFFFF;
	font-size: 14px;
	position: fixed;
	bottom: 141px;
	left: 50%;
	margin-left: -398px;
}

