/* navigation */
.iconcontainer1{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer2{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer3{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer4{
width:110px;
margin:5px 50px auto auto;
cursor:pointer;
}

.about{
width:30px;
height:30px;
background:url(../images/about/about.png);
background-repeat:no-repeat;
float:left;
}

.philosophy{
width:30px;
height:30px;
background:url(../images/about/philosophy.png);
background-repeat:no-repeat;
float:left;
}

.resume{
width:30px;
height:30px;
background:url(../images/about/resume.png);
background-repeat:no-repeat;
float:left;
}

.contact{
width:30px;
height:30px;
background:url(../images/about/contact.png);
background-repeat:no-repeat;
float:left;
}

.anchorblankspace{
height:300px;
}

/*  */

#portrait{
z-index:-1;
position:fixed;
left:45%;
top:20px;
}

#abouttxt{
margin-left:20px;
width:520px;
}

#abouttxt span{
font-weight:bold;
}

#resume #contact span{
color: #8A8D99;
text-transform:capitalize;
}

#contactdiv a{
color:#8A8D99;
}

#aboutdiv{
margin-top:80px;
}

#philosophydiv{
margin-top:300px;
}

#resumediv{
margin-top:20px;
}

#contactdiv{
margin-top:100px;
}

#socialicondiv{
margin-top:200px;
width:520px;
}

.socialiconcontainer{
width:100px;
margin-left:-40px;
}

.socialiconcontainer:first-child{
width:100px;
margin-left:-30px;
}

.socialicon{
cursor:pointer;
}

#facebook{
width:50px;
height:50px;
background:url(../images/about/facebook.png);
background-repeat:no-repeat;
margin:0 auto;
}

#twitter{
width:50px;
height:50px;
background:url(../images/about/twitter.png);
background-repeat:no-repeat;
margin:0 auto;
}

#google{
width:50px;
height:50px;
background:url(../images/about/google.png);
background-repeat:no-repeat;
margin:0 auto;
}

#tumblr{
width:50px;
height:50px;
background:url(../images/about/tumblr.png);
background-repeat:no-repeat;
margin:0 auto;
}

#linkedin{
width:50px;
height:50px;
background:url(../images/about/linkedin.png);
background-repeat:no-repeat;
margin:0 auto;
}

#renren{
width:50px;
height:50px;
background:url(../images/about/renren.png);
background-repeat:no-repeat;
margin:0 auto;
}

#sina{
width:50px;
height:50px;
background:url(../images/about/sina.png);
background-repeat:no-repeat;
margin:0 auto;
}

.socialname{
width:60px;
margin:0 auto;
text-align:center;
display:none;
}

#about{
margin-top:-50px;
top:-50px;
}