/* copy to local file*/
.iconcontainer1{
width:100px;
margin:5px 350px auto auto;
}

.iconcontainer5{
width:100px;
margin:5px 0px auto auto;
}

/* copy to global file*/
.problem{
width:30px;
height:30px;
background:url(../images/global/problem.png);
background-repeat:no-repeat;
float:left;
}

.solution{
width:30px;
height:30px;
background:url(../images/global/solution.png);
background-repeat:no-repeat;
float:left;
}

.realization{
width:30px;
height:30px;
background:url(../images/global/realization.png);
background-repeat:no-repeat;
float:left;
}

.previous{
width:30px;
height:30px;
background:url(../images/global/previous.png);
background-repeat:no-repeat;
float:left;
}

.next{
width:30px;
height:30px;
background:url(../images/global/next.png);
background-repeat:no-repeat;
float:left;
}

/* from my code*/
.iconcontainer{
width:100px;
}


.lil a{
color:white;
}

.lil{
float:left;
}

.lir{
float:right;
width:40px;
}

.navbar{
z-index:300;
height:40px;
background-color: black;
position:fixed;
bottom:138px;
width:100%;
line-height:40px;
}

.navborder{
width:1064px;
margin-left:auto;
margin-right:auto;
padding: 0px 0px 0px 0px;
}

.navline{
width:2px; 
height:30px;
background-color:white;
margin:5px 40px auto 40px;
}

.navprojecttxt{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color:white;
font-weight:regular;
margin-top:0px;
margin-right:20px;
position:relative;
float:left;
opacity:0;
width:40px;
} 


html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu9959
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: -337px;
}

#u9959
{
	z-index: 105;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9943
{
	z-index: 106;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9920
{
	z-index: 107;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#u9923
{
	z-index: 104;
	width: 1024px;
	height: 530px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	margin-left: 356px;
	position: relative;
	background: transparent url("../images/works/uiux/carlos-jimenez-studio.png") no-repeat center top;
}

#pu9918-10
{
	width: 0.01px;
	margin-left: 357px;
	margin-top: 40px;
	position: relative;
}

#u9918-10
{
	z-index: 94;
	width: 294px;
	min-height: 39px;
	position: relative;
	margin-right: -294px;
}

#u9918-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u9924-6
{
	z-index: 25;
	width: 294px;
	min-height: 39px;
	text-align: right;
	color: #5B5B5B;
	position: relative;
	margin-right: -294px;
	left: 730px;
}

#u9922-13
{
	z-index: 81;
	width: 1024px;
	min-height: 39px;
	margin-left: 357px;
	margin-top: 21px;
	position: relative;
}

#u9922-2,#u9922-3,#u9922-5,#u9922-6,#u9922-8,#u9922-9,#u9922-10
{
	text-align: justify;
	color: #5B5B5B;
}

#u9922-11
{
	font-weight: normal;
}

#pu9976
{
	width: 0.01px;
	margin-left: 440px;
	margin-top: 65px;
	position: relative;
}

#u9976
{
	z-index: 23;
	width: 884px;
	position: relative;
	margin-right: -884px;
}

#u9976_clip
{
	overflow: hidden;
	width: 884px;
	height: 792px;
}

#u9976_img
{
	margin-top: -85px;
	margin-bottom: -37px;
}

#u9982-8
{
	z-index: 31;
	width: 310px;
	min-height: 83px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -310px;
	margin-top: 9px;
	left: 567px;
}

#u9982-2
{
	color: #000000;
	font-weight: bold;
}

#u9965-5
{
	z-index: 39;
	width: 310px;
	min-height: 25px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 440px;
	margin-top: 90px;
	position: relative;
}

#u9987
{
	z-index: 21;
	width: 1040px;
	margin-left: 349px;
	position: relative;
}

#pu9992
{
	width: 0.01px;
	margin-left: 368px;
	margin-top: 67px;
	position: relative;
}

#u9992
{
	z-index: 17;
	width: 860px;
	position: relative;
	margin-right: -860px;
	left: 154px;
}

#u9992_img
{
	margin-top: -177px;
	margin-right: -1008px;
	margin-bottom: -172px;
}

#u9998-5
{
	z-index: 71;
	width: 310px;
	min-height: 25px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -310px;
	margin-top: 16px;
}

#pu10068
{
	width: 0.01px;
	margin-left: 368px;
	margin-top: 65px;
	position: relative;
}

#u10068
{
	z-index: 19;
	width: 860px;
	position: relative;
	margin-right: -860px;
	left: 154px;
}

#u9992_clip,#u10068_clip
{
	overflow: hidden;
	width: 860px;
	height: 618px;
}

#u10068_img
{
	margin: -177px -7px -172px -1001px;
}

#u10000-5
{
	z-index: 76;
	width: 310px;
	min-height: 25px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -310px;
	margin-top: 22px;
}

#pu10018
{
	width: 0.01px;
	margin-top: 82px;
	position: relative;
}

#u10018
{
	z-index: 13;
	width: 1734px;
	position: relative;
	margin-right: -1734px;
	margin-top: 431px;
}

#u9987_img,#u10018_img
{
	vertical-align: top;
}

#u10006
{
	z-index: 15;
	width: 1059px;
	position: relative;
	margin-right: -1059px;
	left: 345px;
}

#u10006_clip
{
	overflow: hidden;
	width: 1059px;
	height: 456px;
}

#u10006_img
{
	margin-top: -93px;
	margin-bottom: 1px;
}

#u10011-9
{
	z-index: 44;
	width: 486px;
	min-height: 25px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -486px;
	margin-top: 7px;
	left: 368px;
}

#u10012-6
{
	z-index: 53;
	width: 367px;
	min-height: 25px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -367px;
	margin-top: 332px;
	left: 1014px;
}

#u9918-4,#u9918-5,#u9918-8,#u9982-3,#u9982-5,#u10011-5,#u10012-2
{
	color: #5B5B5B;
	font-weight: normal;
}

#u9982-6,#u10011-2,#u10011-3,#u10011-6,#u10011-7,#u10012-3,#u10012-4
{
	font-weight: bold;
}

#u10013-4
{
	z-index: 59;
	width: 111px;
	min-height: 31px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -111px;
	margin-top: 168px;
	left: 749px;
}

#u10015-4
{
	z-index: 63;
	width: 141px;
	min-height: 31px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -141px;
	margin-top: 222px;
	left: 749px;
}

#u10017-4
{
	z-index: 67;
	width: 141px;
	min-height: 31px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -141px;
	margin-top: 262px;
	left: 749px;
}

