/* copy to local file*/
.iconcontainer1{
width:100px;
margin:5px 350px auto auto;
}

.iconcontainer5{
width:100px;
margin:5px 0px auto auto;
}

/* copy to global file*/
.problem{
width:30px;
height:30px;
background:url(../images/global/problem.png);
background-repeat:no-repeat;
float:left;
}

.solution{
width:30px;
height:30px;
background:url(../images/global/solution.png);
background-repeat:no-repeat;
float:left;
}

.realization{
width:30px;
height:30px;
background:url(../images/global/realization.png);
background-repeat:no-repeat;
float:left;
}

.previous{
width:30px;
height:30px;
background:url(../images/global/previous.png);
background-repeat:no-repeat;
float:left;
}

.next{
width:30px;
height:30px;
background:url(../images/global/next.png);
background-repeat:no-repeat;
float:left;
}

/* from my code*/
.iconcontainer{
width:100px;
}


.lil a{
color:white;
}

.lil{
float:left;
}

.lir{
float:right;
width:40px;
}

.navbar{
z-index:300;
height:40px;
background-color: black;
position:fixed;
bottom:138px;
width:100%;
line-height:40px;
}

.navborder{
width:1064px;
margin-left:auto;
margin-right:auto;
padding: 0px 0px 0px 0px;
}

.navline{
width:2px; 
height:30px;
background-color:white;
margin:5px 40px auto 40px;
}

.navprojecttxt{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color:white;
font-weight:regular;
margin-top:0px;
margin-right:20px;
position:relative;
float:left;
opacity:0;
width:40px;
} 



html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu10330
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: 19px;
}

#u10330
{
	z-index: 67;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u10324
{
	z-index: 68;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u10342
{
	z-index: 69;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#u10326
{
	z-index: 66;
	width: 1024px;
	height: 530px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/works/uiux/digital-closet.jpg") no-repeat center top;
}

#pu10320-8
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 40px;
	position: relative;
}

#u10320-8
{
	z-index: 58;
	width: 294px;
	min-height: 39px;
	position: relative;
	margin-right: -294px;
}

#u10320-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u10328-5
{
	z-index: 21;
	width: 294px;
	min-height: 39px;
	text-align: right;
	color: #5B5B5B;
	position: relative;
	margin-right: -294px;
	left: 730px;
}

#u10286-8
{
	z-index: 50;
	width: 1024px;
	min-height: 39px;
	color: #5B5B5B;
	font-weight: normal;
	margin-left: 1px;
	margin-top: 20px;
	position: relative;
}

#pu10365
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 69px;
	position: relative;
}

#u10365
{
	z-index: 19;
	width: 1024px;
	position: relative;
	margin-right: -1024px;
}

#u10278-7
{
	z-index: 26;
	width: 310px;
	min-height: 83px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -310px;
	margin-top: 26px;
	left: 60px;
}

#pu10370
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 60px;
	position: relative;
}

#u10370
{
	z-index: 17;
	width: 1024px;
	position: relative;
	margin-right: -1024px;
}

#u10377-7
{
	z-index: 43;
	width: 310px;
	min-height: 83px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -310px;
	margin-top: 36px;
	left: 60px;
}

#u10320-4,#u10320-5,#u10320-6,#u10278-4,#u10377-4
{
	color: #5B5B5B;
	font-weight: normal;
}

#u10278-2,#u10278-3,#u10278-5,#u10377-2,#u10377-3,#u10377-5
{
	font-weight: bold;
}

#pu10378
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 51px;
	position: relative;
}

#u10378
{
	z-index: 15;
	width: 1024px;
	position: relative;
	margin-right: -1024px;
}

#u10365_img,#u10370_img,#u10378_img
{
	vertical-align: top;
}

#u10386-5
{
	z-index: 33;
	width: 310px;
	min-height: 20px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -310px;
	margin-top: 55px;
	left: 60px;
}

#pu10387
{
	width: 0.01px;
	margin-top: 42px;
	position: relative;
}

#u10387
{
	z-index: 13;
	width: 1024px;
	position: relative;
	margin-right: -1024px;
}

#u10387_img
{
	padding-bottom: 71px;
	vertical-align: top;
}

#u10392-5
{
	z-index: 38;
	width: 310px;
	min-height: 20px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -310px;
	margin-top: 36px;
	left: 224px;
}

