/* copy to local file*/
.iconcontainer1{
width:100px;
margin:5px 350px auto auto;
}

.iconcontainer5{
width:100px;
margin:5px 0px auto auto;
}

/* copy to global file*/
.problem{
width:30px;
height:30px;
background:url(../images/global/problem.png);
background-repeat:no-repeat;
float:left;
}

.solution{
width:30px;
height:30px;
background:url(../images/global/solution.png);
background-repeat:no-repeat;
float:left;
}

.realization{
width:30px;
height:30px;
background:url(../images/global/realization.png);
background-repeat:no-repeat;
float:left;
}

.previous{
width:30px;
height:30px;
background:url(../images/global/previous.png);
background-repeat:no-repeat;
float:left;
}

.next{
width:30px;
height:30px;
background:url(../images/global/next.png);
background-repeat:no-repeat;
float:left;
}

/* from my code*/
.iconcontainer{
width:100px;
}


.lil a{
color:white;
}

.lil{
float:left;
}

.lir{
float:right;
width:40px;
}

.navbar{
z-index:300;
height:40px;
background-color: black;
position:fixed;
bottom:138px;
width:100%;
line-height:40px;
}

.navborder{
width:1064px;
margin-left:auto;
margin-right:auto;
padding: 0px 0px 0px 0px;
}

.navline{
width:2px; 
height:30px;
background-color:white;
margin:5px 40px auto 40px;
}

.navprojecttxt{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color:white;
font-weight:regular;
margin-top:0px;
margin-right:20px;
position:relative;
float:left;
opacity:0;
width:40px;
} 


html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pslideshowu6672
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: -27px;
}

#slideshowu6672
{
	z-index: 13;
	width: 0.01px;
	height: 0px;
	padding-bottom: 680px;
	position: relative;
	margin-right: -1px;
}

#u6673
{
	position: absolute;
	z-index: 14;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	left: 47px;
}

#u6907
{
	z-index: 15;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u6952
{
	z-index: 17;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u6916
{
	z-index: 19;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u6961
{
	z-index: 21;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u6925
{
	z-index: 23;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u6970
{
	z-index: 25;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u6934
{
	z-index: 27;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u6988
{
	z-index: 29;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u6943
{
	z-index: 31;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u6979
{
	z-index: 33;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u6907_img,#u6952_img,#u6916_img,#u6961_img,#u6925_img,#u6970_img,#u6934_img,#u6988_img,#u6943_img,#u6979_img
{
	vertical-align: top;
}

#u6695
{
	position: absolute;
	z-index: 35;
	width: 686px;
	top: 570px;
	left: 215px;
}

#u6910
{
	z-index: 36;
	width: 65px;
	height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
}

#u6955
{
	z-index: 38;
	width: 65px;
	height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 69px;
}

#u6919
{
	z-index: 40;
	width: 65px;
	height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 138px;
}

#u6964
{
	z-index: 42;
	width: 65px;
	height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 207px;
}

#u6928
{
	z-index: 44;
	width: 65px;
	height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 276px;
}

#u6973
{
	z-index: 46;
	width: 65px;
	height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 345px;
}

#u6937
{
	z-index: 48;
	width: 65px;
	height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 414px;
}

#u6991
{
	z-index: 50;
	width: 65px;
	height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 483px;
}

#u6946
{
	z-index: 52;
	width: 65px;
	height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 552px;
}

#u6982
{
	z-index: 54;
	width: 65px;
	height: 50px;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 621px;
}

#u6910.SSSlideLinkSelected,#u6955.SSSlideLinkSelected,#u6919.SSSlideLinkSelected,#u6964.SSSlideLinkSelected,#u6928.SSSlideLinkSelected,#u6973.SSSlideLinkSelected,#u6937.SSSlideLinkSelected,#u6991.SSSlideLinkSelected,#u6946.SSSlideLinkSelected,#u6982.SSSlideLinkSelected
{
	margin: 0px -65px 0px 0px;
}

#u6910_clip,#u6955_clip,#u6919_clip,#u6964_clip,#u6928_clip,#u6973_clip,#u6937_clip,#u6991_clip,#u6946_clip,#u6982_clip
{
	overflow: hidden;
	width: 65px;
	height: 50px;
}

#u6910_img,#u6955_img,#u6919_img,#u6964_img,#u6928_img,#u6973_img,#u6937_img,#u6991_img,#u6946_img,#u6982_img
{
	margin-left: -15px;
	margin-right: -15px;
}

#u6690-4
{
	position: absolute;
	z-index: 56;
	width: 45px;
	min-height: 58px;
	padding: 6px;
	text-align: right;
	font-size: 48px;
	color: #39393A;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: normal;
	top: 234px;
}

#u6739-4
{
	position: absolute;
	z-index: 60;
	width: 40px;
	min-height: 58px;
	padding: 6px;
	text-align: right;
	color: #39393A;
	font-size: 48px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	top: 235px;
	left: 1048px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background-image: url("../images/loading.gif");
	background-position: center center;
	background-repeat: no-repeat;
}

#u9116
{
	z-index: 64;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9118
{
	z-index: 65;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9120
{
	z-index: 66;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

