/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, nav {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* code starts here */
.page{
z-index:0;
width:1064px;
margin-left:auto;
margin-right:auto;
margin-top:-1px;
position:relative;


/*
height:4500px;
border-color:black;
border-width:1px;
border-style: solid;
*/
}




.facebook{
z-index: 151;
width: 47px;
min-height: 18px;
border-style: none;
border-color: transparent;
background-color: transparent;
position: fixed;
top: 8px;
left: 50%;
margin-left: 224px;
}

.twitter{
z-index: 152;
width: 200px;
border-style: none;
border-color: transparent;
background-color: transparent;
position: fixed;
top: 8px;
left: 50%;
margin-left: 314px;
}

.googleplus{
z-index: 153;
width: 200px;
border-style: none;
border-color: transparent;
background-color: transparent;
position: fixed;
top: 8px;
left: 50%;
margin-left: 414px;
}



/* text */
body{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color: #8A8D99;
font-weight:normal;
line-height:120%
}

a{
color: #8A8D99;
}

.title1{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 20px;
color: black;
text-transform:uppercase;
font-weight:normal;
}

.title2{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 20px;
color: #8A8D99;
}

h2, h3, h4{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color: black;
text-transform:uppercase;
font-weight:bold;
}

h5{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color: #8A8D99;
text-transform:uppercase;
font-weight:bold;
}

p{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;

color: #8A8D99;

}

.navtxt{
color:white;
margin-top:auto;
margin-bottom:auto;
position:relative;
} 



.longtxt{
text-align:justify;
margin-right:20px;
}

/* container */

.clearfix:after /* force a container to fit around floated items */
{
	content: "\0020";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.boxfl {
display: inline;
float: left;
position:relative;
}

.boxfr {
display: inline;
float: right;
}

.boxfc/* a child element of a column */
{
	display: inline;
	float: left;
	clear: both;
}

.boxfl20 {
display: inline;
float: left;
margin-left:20px;
}
.boxfr20 {
display: inline;
float: right;
margin-right:20px;
}

.boxfc20/* a child element of a column */
{
	display: inline;
	float: left;
	clear: both;
	margin-left:20px;
	margin-right:20px;
}

.gap120{
margin-top:120px;
}

/* container end*/



.lil{
float:left;
}

.lir{
float:right;

}

.navbar{
z-index:100;
height:40px;
background-color: black;
position:fixed;
bottom:138px;
width:100%;
line-height:40px;

}

.navborder{
width:1064px;
margin-left:auto;
margin-right:auto;
padding: 0px 0px 0px 0px;
}

.navline{
width:2px; 
height:30px;
background-color:white;
margin:5px 40px auto 40px;
}

.navprojecttxt{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color:white;
font-weight:regular;
margin-top:0px;
margin-right:20px;
position:relative;
float:left;
opacity:0;
width:40px;
} 

/* icon */
.iconcontainer{
width:100px;
}


.previous{
width:30px;
height:30px;
background:url(../images/global/previous.png);
background-repeat:no-repeat;
float:left;
}

.next{
width:30px;
height:30px;
background:url(../images/global/next.png);
background-repeat:no-repeat;
float:left;
}

.uiux{
width:30px;
height:30px;
background:url(../images/global/uiux.png);
background-repeat:no-repeat;
margin:5px 20px auto auto;
float:left;
}

.product{
width:30px;
height:30px;
background:url(../images/global/product.png);
background-repeat:no-repeat;
margin:5px 20px auto auto;
float:left;
}

.architecture{
width:30px;
height:30px;
background:url(../images/global/architecture.png);
background-repeat:no-repeat;
margin:5px 20px auto auto;
float:left;
}

.planning{
width:30px;
height:30px;
background:url(../images/global/planning.png);
background-repeat:no-repeat;
margin:5px 20px auto auto;
float:left;
}

.more{
width:30px;
height:30px;
background:url(../images/global/more.png);
background-repeat:no-repeat;
margin:5px 20px auto auto;
float:left;
}



/* element */


.aaroncheng{
margin-top:20px; 
margin-left:20px; 
height:55px;
}

.shortbar{
margin-top:65px;
width:150px;
height:28px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-khtml-border-radius: 8px;
border-radius: 8px;
background-color:black;
}

.dotbutton{
width:12px;
height:12px;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
-khtml-border-radius: 50%;
border-radius: 50%;
background-color:#fff;
}

.slideshow{
width:1024px;
margin-left:auto;
margin-right:auto;
}

.slideshowphoto{
z-index:1;
position:absolute;
top:75px;
display:none;

}

.slideshowphoto:first-child{
display:block;	
}

.clickproject{
width:154px;
height:42px;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
-khtml-border-radius: 12px;
border-radius: 12px;
position:absolute;
top:250px;
left: 435px;
border-color:black;
border-width:1px;
border-style: solid;
display:none;
}

.clickproject2{
width:150px;
height:38px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
background-color:black;
opacity:0.6;
border-color:white;
border-width:2px;
border-style: solid;
margin: 0px auto auto auto;
}

.clickprojecttxt{
width:120px;
height:16px;
opacity:1;
left:26px;
top:-30px;
position:relative;
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color: white;
}