/* copy to local file*/
.iconcontainer1{
width:100px;
margin:5px 350px auto auto;
}

.iconcontainer5{
width:100px;
margin:5px 0px auto auto;
}

/* copy to global file*/
.problem{
width:30px;
height:30px;
background:url(../images/global/problem.png);
background-repeat:no-repeat;
float:left;
}

.solution{
width:30px;
height:30px;
background:url(../images/global/solution.png);
background-repeat:no-repeat;
float:left;
}

.realization{
width:30px;
height:30px;
background:url(../images/global/realization.png);
background-repeat:no-repeat;
float:left;
}

.previous{
width:30px;
height:30px;
background:url(../images/global/previous.png);
background-repeat:no-repeat;
float:left;
}

.next{
width:30px;
height:30px;
background:url(../images/global/next.png);
background-repeat:no-repeat;
float:left;
}

/* from my code*/
.iconcontainer{
width:100px;
}


.lil a{
color:white;
}

.lil{
float:left;
}

.lir{
float:right;
width:40px;
}

.navbar{
z-index:300;
height:40px;
background-color: black;
position:fixed;
bottom:138px;
width:100%;
line-height:40px;
}

.navborder{
width:1064px;
margin-left:auto;
margin-right:auto;
padding: 0px 0px 0px 0px;
}

.navline{
width:2px; 
height:30px;
background-color:white;
margin:5px 40px auto 40px;
}

.navprojecttxt{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color:white;
font-weight:regular;
margin-top:0px;
margin-right:20px;
position:relative;
float:left;
opacity:0;
width:40px;
} 

html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu10087
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: 15px;
}

#u10087
{
	z-index: 88;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u10147
{
	z-index: 89;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u10143
{
	z-index: 90;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#u10142
{
	z-index: 87;
	width: 1024px;
	height: 530px;
	background-size: contain !important;
	-webkit-background-size: contain;
	-o-background-size: contain;
	-khtml-background-size: contain;
	-ms-background-size: contain;
	border-style: none;
	border-color: transparent;
	margin-left: 4px;
	position: relative;
	background: transparent url("../images/works/uiux/google-search.png") no-repeat center top;
}

#pu10090-8
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 40px;
	position: relative;
}

#u10090-8
{
	z-index: 79;
	width: 294px;
	min-height: 39px;
	position: relative;
	margin-right: -294px;
}

#u10090-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u10136-5
{
	z-index: 19;
	width: 294px;
	min-height: 39px;
	text-align: right;
	color: #5B5B5B;
	position: relative;
	margin-right: -294px;
	left: 730px;
}

#u10091-15
{
	z-index: 64;
	width: 1024px;
	min-height: 39px;
	margin-left: 5px;
	margin-top: 21px;
	position: relative;
}

#u10091-13
{
	font-weight: normal;
}

#pu10173
{
	width: 0.01px;
	margin-top: 92px;
	position: relative;
}

#u10173
{
	z-index: 17;
	width: 1064px;
	position: relative;
	margin-right: -1064px;
	margin-top: 18px;
}

#u10135-4
{
	z-index: 24;
	width: 563px;
	min-height: 83px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -563px;
	left: 5px;
}

#u10179-6
{
	z-index: 37;
	width: 69px;
	min-height: 47px;
	background-color: #FFFFFF;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -69px;
	margin-top: 160px;
	left: 46px;
}

#u10090-4,#u10090-5,#u10090-6,#u10179,#u10179-3
{
	color: #5B5B5B;
	font-weight: normal;
}

#u10179-4
{
	font-weight: bold;
}

#u10181-8
{
	z-index: 43;
	width: 125px;
	min-height: 69px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -125px;
	margin-top: 561px;
	left: 13px;
}

#u10181-3,#u10181-5
{
	text-align: center;
	color: #5B5B5B;
}

#u10188-4
{
	z-index: 28;
	width: 563px;
	min-height: 35px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 111px;
	position: relative;
}

#pu10182
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 2px;
	position: relative;
}

#u10182
{
	z-index: 15;
	width: 981px;
	position: relative;
	margin-right: -981px;
}

#u10122-13
{
	z-index: 51;
	width: 362px;
	min-height: 57px;
	position: relative;
	margin-right: -362px;
	margin-top: 245px;
	left: 572px;
}

#u10181,#u10122-8,#u10122-9
{
	font-size: 14px;
	color: #5B5B5B;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: normal;
}

#u10091-2,#u10091-3,#u10091-5,#u10091-6,#u10091-8,#u10091-9,#u10091-11,#u10091-12,#u10122,#u10122-3,#u10122-4,#u10122-6,#u10122-7,#u10122-10
{
	text-align: justify;
	color: #5B5B5B;
}

#u10181-6,#u10122-11
{
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#pu10195
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 119px;
	position: relative;
}

#u10195
{
	z-index: 13;
	width: 926px;
	position: relative;
	margin-right: -926px;
	margin-top: 20px;
	left: 47px;
}

#u10173_img,#u10182_img,#u10195_img
{
	vertical-align: top;
}

#u10201-5
{
	z-index: 32;
	width: 563px;
	min-height: 35px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -563px;
}

