/* copy to local file*/
.iconcontainer1{
width:110px;
margin:5px 70px auto auto;
}

.iconcontainer2{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer3{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer4{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer5{
width:110px;
margin:5px 50px auto auto;
}

/* copy to global file*/
.problem{
width:30px;
height:30px;
background:url(../images/global/problem.png);
background-repeat:no-repeat;
float:left;
}

.solution{
width:30px;
height:30px;
background:url(../images/global/solution.png);
background-repeat:no-repeat;
float:left;
}

.realization{
width:30px;
height:30px;
background:url(../images/global/realization.png);
background-repeat:no-repeat;
float:left;
}

.previous{
width:30px;
height:30px;
background:url(../images/global/previous.png);
background-repeat:no-repeat;
float:left;
}

.next{
width:30px;
height:30px;
background:url(../images/global/next.png);
background-repeat:no-repeat;
float:left;
}

/* from my code*/
.iconcontainer{
width:100px;
}


.lil a{
color:white;
}

.lil{
float:left;
}

.lir{
float:right;
width:40px;
}

.navbar{
z-index:300;
height:40px;
background-color: black;
position:fixed;
bottom:138px;
width:100%;
line-height:40px;
}

.navborder{
width:1064px;
margin-left:auto;
margin-right:auto;
padding: 0px 0px 0px 0px;
}

.navline{
width:2px; 
height:30px;
background-color:white;
margin:5px 40px auto 40px;
}

.navprojecttxt{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color:white;
font-weight:regular;
margin-top:0px;
margin-right:20px;
position:relative;
float:left;
opacity:0;
width:40px;
} 


html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu9062
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: -2px;
}

#u9062
{
	z-index: 86;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9064
{
	z-index: 87;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9066
{
	z-index: 88;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#u5498
{
	z-index: 84;
	width: 1024px;
	margin-left: 22px;
	position: relative;
}

#pu5473-6
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 40px;
	position: relative;
}

#u5473-6
{
	z-index: 75;
	width: 294px;
	min-height: 39px;
	position: relative;
	margin-right: -294px;
}

#u5473-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u5473-4
{
	color: #5B5B5B;
	font-weight: normal;
}

#u5463-6
{
	z-index: 23;
	width: 139px;
	min-height: 39px;
	text-align: left;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -139px;
	left: 945px;
}

#u5403-8
{
	z-index: 47;
	width: 1024px;
	min-height: 39px;
	font-weight: normal;
	margin-left: 22px;
	margin-top: 21px;
	position: relative;
}

#pu5568
{
	width: 0.01px;
	margin-top: 15px;
	position: relative;
}

#u5568
{
	z-index: 13;
	width: 1033px;
	position: relative;
	margin-right: -1033px;
	margin-top: 1277px;
	left: 113px;
}

#u5558
{
	z-index: 15;
	width: 1046px;
	position: relative;
	margin-right: -1046px;
	margin-top: 2476px;
}

#u5563
{
	z-index: 17;
	width: 843px;
	position: relative;
	margin-right: -843px;
	margin-top: 1972px;
	left: 21px;
}

#u5553
{
	z-index: 19;
	width: 1205px;
	position: relative;
	margin-right: -1205px;
	margin-top: 675px;
	left: 21px;
}

#u5553_clip
{
	overflow: hidden;
	width: 1205px;
	height: 697px;
}

#u5553_img
{
	margin-left: -142px;
}

#u5503
{
	z-index: 29;
	width: 1047px;
	position: relative;
	margin-right: -1047px;
	left: 30px;
}

#u5498_img,#u5568_img,#u5558_img,#u5563_img,#u5503_img
{
	vertical-align: top;
}

#u5405-4
{
	z-index: 31;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 63px;
	left: 22px;
}

#u5466-4
{
	z-index: 35;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 63px;
	left: 824px;
}

#u5455-4
{
	z-index: 39;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 830px;
	left: 21px;
}

#u5444-4
{
	z-index: 43;
	width: 294px;
	min-height: 39px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 878px;
	left: 21px;
}

#u5452-5
{
	z-index: 55;
	width: 460px;
	min-height: 84px;
	font-weight: normal;
	position: relative;
	margin-right: -460px;
	margin-top: 381px;
	left: 142px;
}

#u5514-5
{
	z-index: 60;
	width: 460px;
	min-height: 84px;
	font-weight: normal;
	position: relative;
	margin-right: -460px;
	margin-top: 777px;
	left: 142px;
}

#u5510-6
{
	z-index: 65;
	width: 212px;
	min-height: 84px;
	font-weight: normal;
	position: relative;
	margin-right: -212px;
	margin-top: 380px;
	left: 825px;
}

#u5403-2,#u5403-3,#u5403-5,#u5452-2,#u5514-2,#u5510-2,#u5510-3
{
	color: #5B5B5B;
}

#u5513-4
{
	z-index: 71;
	width: 209px;
	min-height: 84px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -209px;
	margin-top: 777px;
	left: 825px;
}

#problem7,#solution7
{
	position: relative;
	width: 22px;
	margin-right: -22px;
	margin-top: 22px;
	left: 534px;
}

#realization7
{
	position: relative;
	width: 22px;
	margin-right: -22px;
	margin-top: 884px;
	left: 534px;
}

#u5548
{
	z-index: 21;
	width: 1024px;
	margin-left: 22px;
	margin-top: 8px;
	position: relative;
}

#u5548_img
{
	padding-bottom: 23px;
	vertical-align: top;
}

