/* copy to local file*/
.iconcontainer1{
width:110px;
margin:5px 70px auto auto;
}

.iconcontainer2{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer3{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer4{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer5{
width:110px;
margin:5px 50px auto auto;
}

/* copy to global file*/
.problem{
width:30px;
height:30px;
background:url(../images/global/problem.png);
background-repeat:no-repeat;
float:left;
}

.solution{
width:30px;
height:30px;
background:url(../images/global/solution.png);
background-repeat:no-repeat;
float:left;
}

.realization{
width:30px;
height:30px;
background:url(../images/global/realization.png);
background-repeat:no-repeat;
float:left;
}

.previous{
width:30px;
height:30px;
background:url(../images/global/previous.png);
background-repeat:no-repeat;
float:left;
}

.next{
width:30px;
height:30px;
background:url(../images/global/next.png);
background-repeat:no-repeat;
float:left;
}

/* from my code*/
.iconcontainer{
width:100px;
}


.lil a{
color:white;
}

.lil{
float:left;
}

.lir{
float:right;
width:40px;
}

.navbar{
z-index:300;
height:40px;
background-color: black;
position:fixed;
bottom:138px;
width:100%;
line-height:40px;
}

.navborder{
width:1064px;
margin-left:auto;
margin-right:auto;
padding: 0px 0px 0px 0px;
}

.navline{
width:2px; 
height:30px;
background-color:white;
margin:5px 40px auto 40px;
}

.navprojecttxt{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color:white;
font-weight:regular;
margin-top:0px;
margin-right:20px;
position:relative;
float:left;
opacity:0;
width:40px;
} 

html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu9092
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: -10px;
}

#u9092
{
	z-index: 240;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9094
{
	z-index: 241;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9096
{
	z-index: 242;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#u5072
{
	z-index: 232;
	width: 1024px;
	margin-left: 30px;
	position: relative;
}

#pu5007-6
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 40px;
	position: relative;
}

#u5007-6
{
	z-index: 223;
	width: 294px;
	min-height: 39px;
	position: relative;
	margin-right: -294px;
}

#u5007-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u5003-6
{
	z-index: 25;
	width: 142px;
	min-height: 39px;
	text-align: left;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -142px;
	left: 927px;
}

#u5052-11
{
	z-index: 204;
	width: 1024px;
	min-height: 39px;
	margin-left: 30px;
	margin-top: 21px;
	position: relative;
}

#u5052-9
{
	font-weight: normal;
}

#problem5
{
	margin-left: 542px;
	margin-top: 37px;
	position: relative;
}

#pu4979-4
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 27px;
	position: relative;
}

#u4979-4
{
	z-index: 31;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 98px;
}

#u5045-4
{
	z-index: 215;
	width: 347px;
	min-height: 84px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -347px;
	margin-top: 98px;
	left: 677px;
}

#u5077
{
	z-index: 234;
	width: 489px;
	position: relative;
	margin-right: -489px;
	left: 133px;
}

#u5077_clip
{
	overflow: hidden;
	width: 489px;
	height: 232px;
}

#u5077_img
{
	margin-top: -142px;
	margin-right: -467px;
	margin-bottom: -121px;
}

#solution5
{
	margin-left: 542px;
	margin-top: 55px;
	position: relative;
}

#pu5049-4
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 60px;
	position: relative;
}

#u5049-4
{
	z-index: 35;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 90px;
}

#u5021-4
{
	z-index: 219;
	width: 347px;
	min-height: 84px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -347px;
	margin-top: 90px;
	left: 677px;
}

#u5082
{
	z-index: 236;
	width: 467px;
	position: relative;
	margin-right: -467px;
	left: 164px;
}

#u5082_clip
{
	overflow: hidden;
	width: 467px;
	height: 232px;
}

#u5082_img
{
	margin: -142px -3px -121px -486px;
}

#pu5023-4
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 28px;
	position: relative;
}

#u5023-4
{
	z-index: 39;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 1px;
}

#realization5
{
	position: relative;
	width: 22px;
	margin-right: -22px;
	left: 512px;
}

#u5087
{
	z-index: 238;
	width: 1021px;
	margin-left: 32px;
	margin-top: 24px;
	position: relative;
}

#u5087_clip
{
	overflow: hidden;
	width: 1021px;
	height: 529px;
}

#u5087_img
{
	margin-left: -2px;
}

#u5092-5
{
	z-index: 199;
	width: 465px;
	min-height: 28px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 29px;
	margin-top: 24px;
	position: relative;
}

#u5092-2
{
	color: #5B5B5B;
}

#u5092-3
{
	color: #000000;
}

#pu5093
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 53px;
	position: relative;
}

#u5093
{
	z-index: 23;
	width: 1073px;
	position: relative;
	margin-right: -1073px;
}

#u4978-8
{
	z-index: 43;
	width: 482px;
	min-height: 80px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -482px;
	margin-top: 295px;
	left: 26px;
}

#u5104-5
{
	z-index: 152;
	width: 80px;
	min-height: 32px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -80px;
	margin-top: 685px;
	left: 48px;
}

#u5129-5
{
	z-index: 157;
	width: 80px;
	min-height: 32px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -80px;
	margin-top: 685px;
	left: 152px;
}

#u5131-5
{
	z-index: 162;
	width: 36px;
	min-height: 32px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -36px;
	margin-top: 685px;
	left: 584px;
}

#u5132-5
{
	z-index: 167;
	width: 36px;
	min-height: 32px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -36px;
	margin-top: 685px;
	left: 631px;
}

#u5133-5
{
	z-index: 172;
	width: 36px;
	min-height: 32px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -36px;
	margin-top: 685px;
	left: 678px;
}

#u5134-5
{
	z-index: 177;
	width: 36px;
	min-height: 32px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -36px;
	margin-top: 685px;
	left: 725px;
}

#u5135-5
{
	z-index: 182;
	width: 36px;
	min-height: 32px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -36px;
	margin-top: 685px;
	left: 772px;
}

#u5136-5
{
	z-index: 187;
	width: 36px;
	min-height: 32px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -36px;
	margin-top: 685px;
	left: 820px;
}

#u5102-7
{
	z-index: 192;
	width: 482px;
	min-height: 80px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -482px;
	margin-top: 295px;
	left: 563px;
}

#pu5137
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 38px;
	position: relative;
}

#u5137
{
	z-index: 21;
	width: 1025px;
	position: relative;
	margin-right: -1025px;
}

#u5137_clip
{
	overflow: hidden;
	width: 1025px;
	height: 625px;
}

#u5137_img
{
	margin-left: -43px;
	margin-right: -139px;
}

#u5142-4
{
	z-index: 140;
	width: 241px;
	min-height: 30px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -241px;
	margin-top: 31px;
	left: 1px;
}

#u5154-4
{
	z-index: 148;
	width: 241px;
	min-height: 30px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 29px;
	margin-top: 38px;
	position: relative;
}

#pu5143
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 6px;
	position: relative;
}

#u5143
{
	z-index: 19;
	width: 1023px;
	position: relative;
	margin-right: -1023px;
	left: 1px;
}

#u5155-10
{
	z-index: 51;
	width: 233px;
	min-height: 80px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -233px;
	margin-top: 264px;
}

#u5160-12
{
	z-index: 61;
	width: 174px;
	min-height: 80px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -174px;
	margin-top: 638px;
}

#u5162-8
{
	z-index: 108;
	width: 202px;
	min-height: 80px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -202px;
	margin-top: 638px;
	left: 349px;
}

#u5167-8
{
	z-index: 116;
	width: 257px;
	min-height: 80px;
	position: relative;
	margin-right: -257px;
	margin-top: 638px;
	left: 751px;
}

#u5052-2,#u5052-3,#u5052-5,#u5052-6,#u5052-8,#u5167-4
{
	text-align: justify;
	color: #5B5B5B;
}

#u5167-2,#u5167-5
{
	font-size: 14px;
	color: #5B5B5B;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u5167-6
{
	font-size: 14px;
	color: #000000;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u5157-8
{
	z-index: 124;
	width: 233px;
	min-height: 80px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -233px;
	margin-top: 264px;
	left: 408px;
}

#u5159-8
{
	z-index: 132;
	width: 233px;
	min-height: 80px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -233px;
	margin-top: 264px;
	left: 815px;
}

#pu5169-7
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 18px;
	position: relative;
}

#u5169-7
{
	z-index: 73;
	width: 349px;
	min-height: 91px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -349px;
}

#u5171-8
{
	z-index: 100;
	width: 349px;
	min-height: 53px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -349px;
	left: 676px;
}

#u4978-2,#u5102-2,#u5155-2,#u5160-2,#u5162-2,#u5157-2,#u5157-5,#u5159-2,#u5159-5,#u5169-2,#u5171-2,#u5171-5
{
	color: #5B5B5B;
	font-weight: bold;
}

#pu5183
{
	width: 0.01px;
	margin-top: 52px;
	position: relative;
}

#u5183
{
	z-index: 13;
	width: 1071px;
	position: relative;
	margin-right: -1071px;
	margin-top: 495px;
}

#u5183_clip
{
	overflow: hidden;
	width: 1071px;
	height: 840px;
}

#u5183_img
{
	margin-right: -1129px;
	margin-bottom: -298px;
}

#u5192
{
	z-index: 15;
	width: 1071px;
	position: relative;
	margin-right: -1071px;
	margin-top: 985px;
	left: 1px;
}

#u5192_clip
{
	overflow: hidden;
	width: 1071px;
	height: 853px;
}

#u5192_img
{
	margin-left: -1116px;
	margin-right: -13px;
	margin-bottom: -285px;
}

#u5173
{
	z-index: 17;
	width: 1025px;
	position: relative;
	margin-right: -1025px;
	left: 29px;
}

#u5072_img,#u5093_img,#u5143_img,#u5173_img
{
	vertical-align: top;
}

#u5195-5
{
	z-index: 80;
	width: 349px;
	min-height: 91px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -349px;
	margin-top: 1274px;
	left: 30px;
}

#u5198-5
{
	z-index: 85;
	width: 349px;
	min-height: 91px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -349px;
	margin-top: 1761px;
	left: 28px;
}

#u5200-5
{
	z-index: 90;
	width: 349px;
	min-height: 91px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -349px;
	margin-top: 1761px;
	left: 583px;
}

#u5197-5
{
	z-index: 95;
	width: 349px;
	min-height: 91px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -349px;
	margin-top: 1274px;
	left: 586px;
}

#u5007-4,#u4978-4,#u4978-5,#u5104-2,#u5129-2,#u5131-2,#u5132-2,#u5133-2,#u5134-2,#u5135-2,#u5136-2,#u5102-4,#u5155-4,#u5155-5,#u5155-6,#u5155-7,#u5160-4,#u5160-5,#u5160-6,#u5160-7,#u5160-8,#u5160-9,#u5162-4,#u5157-4,#u5159-4,#u5169-4,#u5171-4,#u5195-2,#u5198-2,#u5200-2,#u5197-2
{
	color: #5B5B5B;
	font-weight: normal;
}

#u4978-6,#u5104-3,#u5129-3,#u5131-3,#u5132-3,#u5133-3,#u5134-3,#u5135-3,#u5136-3,#u5102-5,#u5155-8,#u5160-10,#u5162-5,#u5162-6,#u5157-6,#u5159-6,#u5169-5,#u5171-6,#u5195-3,#u5198-3,#u5200-3,#u5197-3
{
	color: #000000;
	font-weight: bold;
}

#u5172-4
{
	z-index: 144;
	width: 241px;
	min-height: 30px;
	color: #5B5B5B;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -241px;
	margin-top: 16px;
	left: 30px;
}

