/* copy to local file*/
.iconcontainer1{
width:110px;
margin:5px 70px auto auto;
}

.iconcontainer2{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer3{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer4{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer5{
width:110px;
margin:5px 50px auto auto;
}

/* copy to global file*/
.problem{
width:30px;
height:30px;
background:url(../images/global/problem.png);
background-repeat:no-repeat;
float:left;
}

.solution{
width:30px;
height:30px;
background:url(../images/global/solution.png);
background-repeat:no-repeat;
float:left;
}

.realization{
width:30px;
height:30px;
background:url(../images/global/realization.png);
background-repeat:no-repeat;
float:left;
}

.previous{
width:30px;
height:30px;
background:url(../images/global/previous.png);
background-repeat:no-repeat;
float:left;
}

.next{
width:30px;
height:30px;
background:url(../images/global/next.png);
background-repeat:no-repeat;
float:left;
}

/* from my code*/
.iconcontainer{
width:100px;
}


.lil a{
color:white;
}

.lil{
float:left;
}

.lir{
float:right;
width:40px;
}

.navbar{
z-index:300;
height:40px;
background-color: black;
position:fixed;
bottom:138px;
width:100%;
line-height:40px;
}

.navborder{
width:1064px;
margin-left:auto;
margin-right:auto;
padding: 0px 0px 0px 0px;
}

.navline{
width:2px; 
height:30px;
background-color:white;
margin:5px 40px auto 40px;
}

.navprojecttxt{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color:white;
font-weight:regular;
margin-top:0px;
margin-right:20px;
position:relative;
float:left;
opacity:0;
width:40px;
} 

html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu9098
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: -25px;
}

#u9098
{
	z-index: 317;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9100
{
	z-index: 318;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9102
{
	z-index: 319;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#u4789
{
	z-index: 149;
	width: 1024px;
	margin-left: 45px;
	position: relative;
}

#pu4770-6
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 40px;
	position: relative;
}

#u4770-6
{
	z-index: 140;
	width: 477px;
	min-height: 39px;
	position: relative;
	margin-right: -477px;
}

#u4770-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u4770-4
{
	color: #39393A;
	font-weight: normal;
}

#u4692-6
{
	z-index: 28;
	width: 165px;
	min-height: 39px;
	text-align: left;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -165px;
	left: 930px;
}

#u4763-9
{
	z-index: 52;
	width: 1024px;
	min-height: 39px;
	margin-left: 44px;
	margin-top: 21px;
	position: relative;
}

#problem4
{
	margin-left: 557px;
	margin-top: 9px;
	position: relative;
}

#pu4817-6
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 33px;
	position: relative;
}

#u4817-6
{
	z-index: 46;
	width: 406px;
	min-height: 48px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -406px;
}

#u4817-4
{
	color: #000000;
}

#u4794
{
	z-index: 151;
	width: 503px;
	position: relative;
	margin-right: -503px;
	margin-top: 25px;
	left: 2px;
}

#u4801
{
	z-index: 153;
	width: 431px;
	position: relative;
	margin-right: -431px;
	margin-top: 18px;
	left: 554px;
}

#u4801_clip
{
	overflow: hidden;
	width: 431px;
	height: 270px;
}

#u4801_img
{
	margin-right: -91px;
}

#pu4760-4
{
	width: 0.01px;
	margin-left: 44px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u4760-4
{
	z-index: 61;
	width: 246px;
	min-height: 26px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -246px;
}

#u4811-4
{
	z-index: 69;
	width: 246px;
	min-height: 26px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -246px;
	left: 323px;
}

#u4814-4
{
	z-index: 77;
	width: 102px;
	min-height: 21px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -102px;
	left: 708px;
}

#u4812-4
{
	z-index: 73;
	width: 246px;
	min-height: 26px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -246px;
	left: 850px;
}

#pu4800-10
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 29px;
	position: relative;
}

#u4800-10
{
	z-index: 81;
	width: 499px;
	min-height: 91px;
	position: relative;
	margin-right: -499px;
}

#u4807-11
{
	z-index: 91;
	width: 427px;
	min-height: 84px;
	position: relative;
	margin-right: -427px;
	left: 596px;
}

#pu4809-4
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 44px;
	position: relative;
}

#u4809-4
{
	z-index: 34;
	width: 294px;
	min-height: 47px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 1px;
}

#u4815-4
{
	z-index: 65;
	width: 431px;
	min-height: 26px;
	color: #000000;
	font-weight: normal;
	position: relative;
	margin-right: -431px;
	left: 237px;
}

#solution4
{
	margin-left: 557px;
	margin-top: 31px;
	position: relative;
}

#pu4818
{
	width: 0.01px;
	margin-left: 44px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
}

#u4818
{
	z-index: 24;
	width: 1044px;
	position: relative;
	margin-right: -1044px;
	left: 47px;
}

#u4818_clip
{
	overflow: hidden;
	width: 1044px;
	height: 255px;
}

#u4818_img
{
	margin-bottom: -285px;
}

#u4711-4
{
	z-index: 38;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 68px;
}

#u4735-7
{
	z-index: 102;
	width: 608px;
	min-height: 84px;
	color: #5B5B5B;
	margin-left: 285px;
	position: relative;
}

#u4828
{
	z-index: 26;
	width: 908px;
	margin-left: 91px;
	margin-top: 11px;
	position: relative;
}

#u4828_clip
{
	overflow: hidden;
	width: 908px;
	height: 208px;
}

#u4828_img
{
	margin-top: -288px;
	margin-right: -136px;
	margin-bottom: -45px;
}

#u4832-7
{
	z-index: 109;
	width: 608px;
	min-height: 84px;
	color: #5B5B5B;
	margin-left: 285px;
	margin-top: 9px;
	position: relative;
}

#u4735-2,#u4735-3,#u4832-2,#u4832-3
{
	font-weight: bold;
}

#pu4768-4
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 17px;
	position: relative;
}

#u4768-4
{
	z-index: 42;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
}

#realization4
{
	position: relative;
	width: 22px;
	margin-right: -22px;
	left: 512px;
}

#pu4838-4
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 15px;
	position: relative;
}

#u4838-4
{
	z-index: 116;
	width: 174px;
	min-height: 23px;
	color: #5B5B5B;
	font-weight: bold;
	position: relative;
	margin-right: -174px;
	margin-top: 16px;
}

#u4833
{
	z-index: 155;
	width: 799px;
	position: relative;
	margin-right: -799px;
	left: 120px;
}

#u4844-4
{
	z-index: 284;
	width: 177px;
	min-height: 35px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -177px;
	margin-top: 21px;
	left: 858px;
}

#u4845-4
{
	z-index: 288;
	width: 177px;
	min-height: 35px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -177px;
	margin-top: 130px;
	left: 858px;
}

#u4846-4
{
	z-index: 292;
	width: 177px;
	min-height: 35px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -177px;
	margin-top: 248px;
	left: 858px;
}

#u4848-4
{
	z-index: 296;
	width: 177px;
	min-height: 35px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -177px;
	margin-top: 373px;
	left: 858px;
}

#u4840-4
{
	z-index: 157;
	width: 774px;
	min-height: 50px;
	color: #5B5B5B;
	font-weight: normal;
	margin-left: 288px;
	margin-top: 15px;
	position: relative;
}

#pu4860-4
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: 80px;
	position: relative;
}

#u4860-4
{
	z-index: 120;
	width: 174px;
	min-height: 23px;
	color: #5B5B5B;
	font-weight: bold;
	position: relative;
	margin-right: -174px;
	margin-top: 1px;
	left: 6px;
}

#u4873-4
{
	z-index: 258;
	width: 192px;
	min-height: 19px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -192px;
	margin-top: 4px;
	left: 679px;
}

#u4875-4
{
	z-index: 262;
	width: 76px;
	min-height: 16px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -76px;
	margin-top: 4px;
	left: 836px;
}

#u4877-4
{
	z-index: 266;
	width: 128px;
	min-height: 19px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -128px;
	margin-top: 4px;
	left: 968px;
}

#u4854
{
	z-index: 300;
	width: 1040px;
	position: relative;
	margin-right: -1040px;
	margin-top: 13px;
}

#u4868
{
	z-index: 302;
	width: 19px;
	height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #C1272D;
	position: relative;
	margin-right: -21px;
	left: 647px;
}

#u4870
{
	z-index: 303;
	width: 19px;
	height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #5B5B5B;
	position: relative;
	margin-right: -21px;
	left: 803px;
}

#u4872
{
	z-index: 304;
	width: 19px;
	height: 19px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #C8C8C8;
	position: relative;
	margin-right: -21px;
	left: 938px;
}

#pu4861-7
{
	width: 0.01px;
	margin-left: 45px;
	margin-top: 8px;
	position: relative;
}

#u4861-7
{
	z-index: 161;
	width: 246px;
	min-height: 67px;
	font-weight: normal;
	position: relative;
	margin-right: -246px;
}

#u4865-7
{
	z-index: 277;
	width: 246px;
	min-height: 67px;
	font-weight: normal;
	position: relative;
	margin-right: -246px;
	left: 260px;
}

#u4863-7
{
	z-index: 251;
	width: 246px;
	min-height: 67px;
	font-weight: normal;
	position: relative;
	margin-right: -246px;
	left: 520px;
}

#u4867-7
{
	z-index: 270;
	width: 256px;
	min-height: 67px;
	position: relative;
	margin-right: -256px;
	left: 769px;
}

#u4885-4
{
	z-index: 124;
	width: 174px;
	min-height: 23px;
	color: #5B5B5B;
	font-weight: bold;
	margin-left: 44px;
	margin-top: 61px;
	position: relative;
}

#u4879
{
	z-index: 305;
	width: 1026px;
	margin-left: 43px;
	margin-top: 11px;
	position: relative;
}

#u4879_clip
{
	overflow: hidden;
	width: 1026px;
	height: 1221px;
}

#u4879_img
{
	margin-left: -646px;
	margin-right: -686px;
}

#u4886
{
	z-index: 307;
	width: 1027px;
	margin-left: 43px;
	margin-top: 59px;
	position: relative;
}

#pu4919
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 5px;
	position: relative;
}

#u4919
{
	z-index: 19;
	width: 393px;
	position: relative;
	margin-right: -393px;
	margin-top: 141px;
}

#u4907
{
	z-index: 20;
	width: 393px;
	position: relative;
	margin-right: -393px;
}

#u4907_clip
{
	overflow: hidden;
	width: 393px;
	height: 543px;
}

#u4907_img
{
	margin-left: -94px;
	margin-right: -561px;
}

#u4916
{
	z-index: 22;
	width: 393px;
	position: relative;
	margin-right: -393px;
	margin-top: 483px;
}

#u4916_clip
{
	overflow: hidden;
	width: 393px;
	height: 337px;
}

#u4916_img
{
	margin: -89px -163px -117px -492px;
}

#u4906-4
{
	z-index: 128;
	width: 174px;
	min-height: 23px;
	color: #5B5B5B;
	font-weight: bold;
	position: relative;
	margin-right: -174px;
	margin-top: 205px;
	left: 20px;
}

#u4891-8
{
	z-index: 168;
	width: 310px;
	min-height: 67px;
	position: relative;
	margin-right: -310px;
	left: 19px;
}

#u4912-7
{
	z-index: 176;
	width: 349px;
	min-height: 67px;
	position: relative;
	margin-right: -349px;
	margin-top: 566px;
	left: 18px;
}

#u4915-7
{
	z-index: 183;
	width: 356px;
	min-height: 67px;
	position: relative;
	margin-right: -356px;
	margin-top: 963px;
	left: 20px;
}

#u4893-9
{
	z-index: 232;
	width: 310px;
	min-height: 67px;
	position: relative;
	margin-right: -310px;
	left: 382px;
}

#u4895-10
{
	z-index: 241;
	width: 310px;
	min-height: 67px;
	position: relative;
	margin-right: -310px;
	left: 734px;
}

#u4763-2,#u4763-3,#u4763-5,#u4763-6,#u4800-2,#u4800-3,#u4800-5,#u4800-6,#u4800-7,#u4807-2,#u4807-3,#u4807-5,#u4807-6,#u4807-7,#u4807-8,#u4867-2,#u4867-4,#u4891-2,#u4891-3,#u4891-5,#u4912-2,#u4912-4,#u4915-2,#u4915-4,#u4893-2,#u4893-3,#u4893-5,#u4893-6,#u4895-2,#u4895-3,#u4895-5,#u4895-6,#u4895-7
{
	text-align: justify;
	color: #5B5B5B;
}

#u4763-7,#u4800-8,#u4807-9,#u4735-5,#u4832-5,#u4867-5,#u4891-6,#u4912-5,#u4915-5,#u4893-7,#u4895-8
{
	font-weight: normal;
}

#u4901
{
	z-index: 309;
	width: 648px;
	position: relative;
	margin-right: -648px;
	margin-top: 255px;
	left: 397px;
}

#u4966
{
	z-index: 315;
	width: 1113px;
	margin-top: 103px;
	position: relative;
}

#u4942-4
{
	z-index: 132;
	width: 267px;
	min-height: 23px;
	color: #5B5B5B;
	font-weight: bold;
	margin-left: 45px;
	margin-top: 62px;
	position: relative;
}

#ppu4922
{
	width: 0.01px;
	margin-left: 122px;
	margin-top: 7px;
	position: relative;
}

#pu4922
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 13px;
}

#u4922
{
	z-index: 15;
	width: 368px;
	margin-left: 16px;
	position: relative;
}

#u4922_img
{
	margin: -181px -632px -228px -221px;
}

#u4928-7
{
	z-index: 190;
	width: 356px;
	min-height: 67px;
	font-weight: normal;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u4937
{
	z-index: 17;
	width: 368px;
	margin-top: 17px;
	position: relative;
}

#u4922_clip,#u4937_clip
{
	overflow: hidden;
	width: 368px;
	height: 223px;
}

#u4937_img
{
	margin: -181px -265px -228px -588px;
}

#u4941-7
{
	z-index: 225;
	width: 356px;
	min-height: 67px;
	font-weight: normal;
	margin-left: 20px;
	margin-top: 22px;
	position: relative;
}

#u4817-2,#u4817-3,#u4861-2,#u4861-4,#u4865-2,#u4865-4,#u4863-2,#u4863-4,#u4928-2,#u4928-4,#u4941-2,#u4941-4
{
	color: #5B5B5B;
}

#u4929
{
	z-index: 311;
	width: 290px;
	position: relative;
	margin-right: -290px;
	left: 432px;
}

#pu4972-4
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 109px;
	left: 770px;
}

#u4972-4
{
	z-index: 221;
	width: 356px;
	min-height: 67px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
}

#u4946-4
{
	z-index: 209;
	width: 356px;
	min-height: 67px;
	color: #5B5B5B;
	font-weight: normal;
	margin-top: 164px;
	position: relative;
}

#u4944-4
{
	z-index: 197;
	width: 356px;
	min-height: 67px;
	color: #5B5B5B;
	font-weight: normal;
	margin-top: 146px;
	position: relative;
}

#pu4949
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 74px;
	position: relative;
}

#u4949
{
	z-index: 13;
	width: 1092px;
	position: relative;
	margin-right: -1092px;
}

#u4789_img,#u4794_img,#u4833_img,#u4854_img,#u4886_img,#u4901_img,#u4966_img,#u4929_img,#u4949_img
{
	vertical-align: top;
}

#u4955-4
{
	z-index: 136;
	width: 267px;
	min-height: 23px;
	color: #5B5B5B;
	font-weight: bold;
	position: relative;
	margin-right: -267px;
	margin-top: 4px;
	left: 35px;
}

#u4960-4
{
	z-index: 205;
	width: 135px;
	min-height: 67px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -135px;
	margin-top: 367px;
	left: 409px;
}

#u4957-4
{
	z-index: 213;
	width: 160px;
	min-height: 67px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -160px;
	margin-top: 367px;
	left: 932px;
}

#pu4956-4
{
	width: 0.01px;
	margin-left: 418px;
	position: relative;
}

#u4956-4
{
	z-index: 201;
	width: 135px;
	min-height: 67px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -135px;
}

#u4948-4
{
	z-index: 217;
	width: 356px;
	min-height: 67px;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -356px;
	left: 543px;
}

#u4961
{
	z-index: 313;
	width: 1041px;
	margin-left: 43px;
	margin-top: 37px;
	position: relative;
}

#u4961_img
{
	padding-bottom: 113px;
	vertical-align: top;
}

