#rotator{
height:530px;
}

#slidetext1{
width: 1000px;
height:100px;
font-size: 30px;
color:black;
text-align: center;
margin-top:200px;
margin-left:auto;
margin-right:auto;
}

#slidetext2{
width: 400px;
line-height: 28px;
font-size: 24px;
color:black;
text-align: center;
float:left;
position: relative;
margin-top:180px
}


#slideimage2{
z-index:-1;
top:0px;
margin-left:25px;
margin-top:-25px;
position: absolute;
}

#slidetext3{
width: 400px;
line-height: 28px;
font-size: 24px;
color:black;
text-align: center;
float:left;
position: relative;
margin-top:160px
}

#slideimage3{
z-index:-1;
top:0px;
margin-left:400px;
margin-top:-25px;
position: absolute;
}

#slidetext4{
width: 500px;
line-height: 28px;
font-size: 24px;
color:black;
text-align: center;
position: relative;
margin-top:160px
}

#slideimage4{
z-index:-1;

top:0px;
margin-left:500px;
width:900px;
position: absolute;
}


.indexdot{
width:8px;
height:8px;
background-color:black;
}

.slideshowdots{
z-index:9;
position:relative;
width:150px;
margin:0 auto;
height:40px;
display:block;
}

#dotbutton1{
margin-left:21px;
float:left;
cursor:pointer;
}

#dotbutton2{
margin-left:25px;
float:left;
cursor:pointer;
}

#dotbutton3{
margin-left:25px;
float:left;
cursor:pointer;
}

#dotbutton4{
margin-left:25px;
float:left;
cursor:pointer;
}

#navborder{
width:240px;
margin:0 auto;
}

#listcontainer{
position:fixed;
width:100%;
bottom:70px;
}

#listcontainer p{
display:block;
text-align:center;
clear:both;
width:800px;
color:black;
font-weight:bold;
margin: auto auto 5px auto;
}

#listbelow{
display:block;
clear:both;
width:800px;
margin:0 auto;
}

#listbelow li{
display:block;
text-align:center;
position:relative;
float:left;
margin-left:30px;
}

#listbelow li:first-child{
margin-left:40px;
}


