#u9485-6
{
	font-size: 20px;
	position: relative;
}

#u7975,#u7714
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-2,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3,#u9485-3
{
	color: #939495;
}

