/* copy to local file*/
.iconcontainer1{
width:100px;
margin:5px 350px auto auto;
}

.iconcontainer5{
width:100px;
margin:5px 0px auto auto;
}

/* copy to global file*/
.problem{
width:30px;
height:30px;
background:url(../images/global/problem.png);
background-repeat:no-repeat;
float:left;
}

.solution{
width:30px;
height:30px;
background:url(../images/global/solution.png);
background-repeat:no-repeat;
float:left;
}

.realization{
width:30px;
height:30px;
background:url(../images/global/realization.png);
background-repeat:no-repeat;
float:left;
}

.previous{
width:30px;
height:30px;
background:url(../images/global/previous.png);
background-repeat:no-repeat;
float:left;
}

.next{
width:30px;
height:30px;
background:url(../images/global/next.png);
background-repeat:no-repeat;
float:left;
}

/* from my code*/
.iconcontainer{
width:100px;
}


.lil a{
color:white;
}

.lil{
float:left;
}

.lir{
float:right;
width:40px;
}

.navbar{
z-index:300;
height:40px;
background-color: black;
position:fixed;
bottom:138px;
width:100%;
line-height:40px;
}

.navborder{
width:1064px;
margin-left:auto;
margin-right:auto;
padding: 0px 0px 0px 0px;
}

.navline{
width:2px; 
height:30px;
background-color:white;
margin:5px 40px auto 40px;
}

.navprojecttxt{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color:white;
font-weight:regular;
margin-top:0px;
margin-right:20px;
position:relative;
float:left;
opacity:0;
width:40px;
} 


html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pslideshowu6770
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: -27px;
}

#slideshowu6770
{
	z-index: 13;
	width: 0.01px;
	height: 0px;
	padding-bottom: 680px;
	position: relative;
	margin-right: -1px;
}

#u6784
{
	position: absolute;
	z-index: 14;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	left: 47px;
}

#u7098
{
	z-index: 15;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u7107
{
	z-index: 17;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u7057
{
	z-index: 19;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u7066
{
	z-index: 21;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u7075
{
	z-index: 23;
	width: 1024px;
	height: 540px;
	background-color: transparent;
	margin-right: -1024px;
	position: relative;
}

#u7098_img,#u7107_img,#u7057_img,#u7066_img,#u7075_img
{
	vertical-align: top;
}

#u6821
{
	position: absolute;
	z-index: 25;
	width: 341px;
	top: 570px;
	left: 388px;
}

#u7101
{
	z-index: 26;
	width: 65px;
	height: 50px;
	border-color: #C1272D;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
}

#u7110
{
	z-index: 28;
	width: 65px;
	height: 50px;
	border-color: #C1272D;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 69px;
}

#u7110_img
{
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: top;
}

#u7060
{
	z-index: 30;
	width: 65px;
	height: 50px;
	border-color: #C1272D;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 138px;
}

#u7069
{
	z-index: 32;
	width: 65px;
	height: 50px;
	border-color: #C1272D;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 207px;
}

#u7078
{
	z-index: 34;
	width: 65px;
	height: 50px;
	border-color: #C1272D;
	background-color: transparent;
	position: relative;
	margin-right: -65px;
	left: 276px;
}

#u7101.SSSlideLinkSelected,#u7110.SSSlideLinkSelected,#u7060.SSSlideLinkSelected,#u7069.SSSlideLinkSelected,#u7078.SSSlideLinkSelected
{
	margin: 0px -65px 0px 0px;
}

#u7101_clip,#u7060_clip,#u7069_clip,#u7078_clip
{
	overflow: hidden;
	width: 65px;
	height: 50px;
}

#u7101_img,#u7060_img,#u7069_img,#u7078_img
{
	margin-left: -15px;
	margin-right: -15px;
}

#u6771-4
{
	position: absolute;
	z-index: 36;
	width: 45px;
	min-height: 58px;
	padding: 6px;
	text-align: right;
	font-size: 48px;
	color: #39393A;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	font-weight: normal;
	top: 234px;
}

#u6818-4
{
	position: absolute;
	z-index: 40;
	width: 40px;
	min-height: 58px;
	padding: 6px;
	text-align: right;
	color: #39393A;
	font-size: 48px;
	font-family: Consolas, Lucida Console, Monaco, monospace;
	top: 235px;
	left: 1048px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background-image: url("../images/loading.gif");
	background-position: center center;
	background-repeat: no-repeat;
}

#u9122
{
	z-index: 44;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9124
{
	z-index: 45;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9126
{
	z-index: 46;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

