#rotator{
height:530px;
}

#uiuxbar{
z-index:9;
width:325px;
margin: 65px 0px auto auto;
position:relative;
}

.projecttitle{
margin-top:40px;
position:relative;
}

#dotbutton1{
margin:8px 0px 0 30px;
float:left;
position:relative;
cursor:pointer;
}

#dotbutton2{
margin:8px auto 0 30px;
position:relative;
cursor:pointer;
float:left;
}

#dotbutton3{
margin:8px auto 0 30px;
float:left;
position:relative;
cursor:pointer;
}

#dotbutton4{
margin:8px auto 0 30px;
float:left;
position:relative;
cursor:pointer;
}

#dotbutton5{
margin:8px auto 0 30px;
float:left;
position:relative;
cursor:pointer;
}

#dotbutton6{
margin:8px auto 0 30px;
float:left;
position:relative;
cursor:pointer;
}

#dotbutton7{
margin:8px auto 0 30px;
float:left;
position:relative;
cursor:pointer;
}

