/* copy to local file*/
.iconcontainer1{
width:110px;
margin:5px 70px auto auto;
}

.iconcontainer2{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer3{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer4{
width:40px;
margin:5px 70px auto auto;
cursor:pointer;
}

.iconcontainer5{
width:110px;
margin:5px 50px auto auto;
}

/* copy to global file*/
.problem{
width:30px;
height:30px;
background:url(../images/global/problem.png);
background-repeat:no-repeat;
float:left;
}

.solution{
width:30px;
height:30px;
background:url(../images/global/solution.png);
background-repeat:no-repeat;
float:left;
}

.realization{
width:30px;
height:30px;
background:url(../images/global/realization.png);
background-repeat:no-repeat;
float:left;
}

.previous{
width:30px;
height:30px;
background:url(../images/global/previous.png);
background-repeat:no-repeat;
float:left;
}

.next{
width:30px;
height:30px;
background:url(../images/global/next.png);
background-repeat:no-repeat;
float:left;
}

/* from my code*/
.iconcontainer{
width:100px;
}


.lil a{
color:white;
}

.lil{
float:left;
}

.lir{
float:right;
width:40px;
}

.navbar{
z-index:300;
height:40px;
background-color: black;
position:fixed;
bottom:138px;
width:100%;
line-height:40px;
}

.navborder{
width:1064px;
margin-left:auto;
margin-right:auto;
padding: 0px 0px 0px 0px;
}

.navline{
width:2px; 
height:30px;
background-color:white;
margin:5px 40px auto 40px;
}

.navprojecttxt{
font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
font-size: 14px;
color:white;
font-weight:regular;
margin-top:0px;
margin-right:20px;
position:relative;
float:left;
opacity:0;
width:40px;
} 


html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1064px;
	min-height: 438px;
	padding-bottom: 165px;
	margin-left: auto;
	margin-right: auto;
}

#master-header
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 20px;
	left: 20px;
}

#u9485-6
{
	z-index: 3;
	width: 456px;
	min-height: 23px;
	margin-right: -456px;
}

#pu7975
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 130px;
	left: 143px;
}

#u7975
{
	z-index: 11;
	width: 200px;
	margin-right: -200px;
}

#u7714
{
	z-index: 10;
	width: 200px;
	margin-right: -200px;
	margin-top: 159px;
	left: 273px;
}

#pu9068
{
	width: 0.01px;
	position: relative;
	margin-right: -1px;
	margin-top: 75px;
	left: -67px;
}

#u9068
{
	z-index: 97;
	width: 47px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 224px;
}

#u9070
{
	z-index: 98;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 314px;
}

#u9072
{
	z-index: 99;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 8px;
	left: 50%;
	margin-left: 409px;
}

#u5877
{
	z-index: 55;
	width: 1024px;
	margin-left: 87px;
	position: relative;
}

#pu5852-7
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 40px;
	position: relative;
}

#u5852-7
{
	z-index: 46;
	width: 294px;
	min-height: 39px;
	font-weight: normal;
	position: relative;
	margin-right: -294px;
}

#u5852-3
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u5852
{
	font-weight: bold;
}

#u5842-6
{
	z-index: 23;
	width: 294px;
	min-height: 39px;
	text-align: left;
	color: #5B5B5B;
	font-weight: normal;
	position: relative;
	margin-right: -294px;
	left: 814px;
}

#u5782-9
{
	z-index: 37;
	width: 1024px;
	min-height: 39px;
	font-weight: normal;
	margin-left: 87px;
	margin-top: 21px;
	position: relative;
}

#u5852-5,#u5782-2,#u5782-3,#u5782-5,#u5782-6
{
	color: #5B5B5B;
}

#problem9
{
	margin-left: 599px;
	margin-top: 18px;
	position: relative;
}

#pu5889
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 32px;
	position: relative;
}

#u5889
{
	z-index: 19;
	width: 447px;
	position: relative;
	margin-right: -447px;
	left: 167px;
}

#u5889_clip
{
	overflow: hidden;
	width: 447px;
	height: 310px;
}

#u5889_img
{
	margin: -313px -1080px -298px -253px;
}

#u6282
{
	z-index: 21;
	width: 405px;
	position: relative;
	margin-right: -405px;
	left: 631px;
}

#u6282_clip
{
	overflow: hidden;
	width: 405px;
	height: 310px;
}

#u6282_img
{
	margin: -313px -685px -298px -689px;
}

#u5784-4
{
	z-index: 29;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 285px;
}

#solution9
{
	position: relative;
	width: 22px;
	margin-right: -22px;
	margin-top: 615px;
	left: 512px;
}

#u6265
{
	z-index: 57;
	width: 864px;
	position: relative;
	margin-right: -864px;
	margin-top: 207px;
	left: 191px;
}

#u6271-8
{
	z-index: 59;
	width: 372px;
	min-height: 91px;
	position: relative;
	margin-right: -372px;
	margin-top: 533px;
	left: 225px;
}

#u6273-4
{
	z-index: 86;
	width: 371px;
	min-height: 91px;
	text-align: justify;
	color: #5B5B5B;
	position: relative;
	margin-right: -371px;
	margin-top: 533px;
	left: 652px;
}

#pu5845-4
{
	width: 0.01px;
	margin-left: 87px;
	margin-top: 13px;
	position: relative;
}

#u5845-4
{
	z-index: 33;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 234px;
}

#u6274
{
	z-index: 90;
	width: 1047px;
	position: relative;
	margin-right: -1047px;
	left: 99px;
}

#pu8217
{
	width: 0.01px;
	margin-top: 15px;
	position: relative;
}

#u8217
{
	z-index: 13;
	width: 1231px;
	position: relative;
	margin-right: -1231px;
	margin-top: 64px;
}

#u8217_clip
{
	overflow: hidden;
	width: 1231px;
	height: 574px;
}

#u8217_img
{
	margin-bottom: -63px;
}

#u6286-9
{
	z-index: 67;
	width: 278px;
	min-height: 91px;
	position: relative;
	margin-right: -278px;
	left: 312px;
}

#u6288-10
{
	z-index: 76;
	width: 278px;
	min-height: 91px;
	position: relative;
	margin-right: -278px;
	left: 832px;
}

#u6271-2,#u6271-4,#u6271-5,#u6286-2,#u6286-4,#u6286-5,#u6286-6,#u6288-2,#u6288-4,#u6288-5,#u6288-6,#u6288-7
{
	text-align: justify;
	color: #5B5B5B;
}

#u6271-6,#u6286-7,#u6288-8
{
	font-weight: normal;
}

#u6290-4
{
	z-index: 92;
	width: 294px;
	min-height: 39px;
	font-size: 14px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -294px;
	margin-top: 151px;
	left: 87px;
}

#realization9
{
	position: relative;
	width: 22px;
	margin-right: -22px;
	margin-top: 108px;
	left: 599px;
}

#pu5901
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 19px;
	position: relative;
}

#u5901
{
	z-index: 15;
	width: 988px;
	position: relative;
	margin-right: -988px;
	left: 76px;
}

#u6291
{
	z-index: 17;
	width: 1140px;
	position: relative;
	margin-right: -1140px;
	margin-top: 793px;
}

#u5877_img,#u6265_img,#u6274_img,#u5901_img,#u6291_img
{
	vertical-align: top;
}

